/* The signin pop up message section */
.signIn_Message_pop {
    position: absolute;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    display: none; /* Flex to edit */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
}

#pop_error_auth_ssh {
    background-color: #FBEFEB;
    border: 1px solid #FC5758;
    fill: #FC5758;
    top: -60px;
}

#success_popup {
    background-color: #F1F8F4;
    border: 1px solid #CFE8D3;
    fill: #50DC6C;
    right: 30px;
}

.sign_pop_outer {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#pop_error_auth_ssh .sign_pop_outer{
    background-color: #FC5758;
}

#success_popup .sign_pop_outer{
    background-color: #50DC6C;
}

.sign_pop_inner {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.sign_pop_inner svg {
    width: 17px;
}

.sign_pop_message {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

#pop_error_auth_ssh .sign_pop_message {
    color: #FC5758;
}

#success_popup .sign_pop_message {
    color: #50DC6C;
}

.pop_close {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
    margin-right: 5px;
    cursor: pointer;
}

.pop_close:hover {
    background-color: #fff;
}

.pop_close svg {
    width: 25px;
}

#pop_error_auth_ssh .pop_close svg {
    fill: #FC5758;
}

#success_popup .pop_close svg {
    fill: #50DC6C;
}


/* Popup Sections */

#not_selected,#pop_error {
    position: absolute;
    right: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 20px;
    height: 60px;
    border-radius: 10px;
    visibility: hidden;
    z-index: 4;
    background-color: white;
}

#not_selected {
    border: 2px solid #406CEE;
}

#pop_error {
    border: 2px solid #E44F26;
}

.unselected_message,.error_message {
    font-size: 18px;
}

.success_message {
    color: #2CA631;
}

.unselected_message {
    color: #406CEE;
}

.error_message {
    color: #E44F26;
}

.check_icon,.check_icon_unselected,.pop_error_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
}

.check_icon_unselected {
    background-color: #406CEE;
}

.pop_error_icon {
    background-color: #E44F26;
}

.check_icon_unselected svg,.pop_error_icon svg {
    width: 30px;
    fill: #F3F3F3;
}



/* Creation Form Section and ssh login popup*/

.creation_section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Choose path ssh section (File System) */

.choose_path_ssh_section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none; /* Flex for upgrade */
    align-items: center;
    justify-content: center;
}

.inner_choose_path_ssh {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65,0.4);
}

/* Ssh File system */
.ssh_file_system {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 10px;
}

/* User path search and close section */
.user_search_path_close_section {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* User indicate section */
.user_indicate_section {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #F3F3F3;
    color: #414141;
    font-size: 16px;
}

.user_indicate_section svg {
    width: 40px;
    fill: #414141;
    margin-right: 10px;
}

#windows_icon {
    display: none;
}

#linux_icon {
    display: none;
}



/* Path search and current path section */
.path_and_search_path_section {
    width: calc(100% - 370px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F3F3F3;
}

/* Path indicator section */
.ssh_path_indicate{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.ssh_path_indicate svg {
    width: 26px;
    fill: #414141;
    margin-right: 10px;
}

.ssh_path_indicate span {
    color: #414141;
    font-size: 15px;
}


/* The ssh file dispaly layout and searchbar */
.ssh_search_and_file_layout {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The folder system layout */
.ssh_folder_layout {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* The change layout btns */
.folder_layout_change {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folder_layout_change svg {
    fill: #414141;
    width: 25px;
}


/* Search ssh folders section */
.ssh_folder_search {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* The actual search bar */
.ssh_searching_section {
    width: calc(100% - 10px);
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    border: 1.5px solid #8F8F8F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ssh_searching_section svg {
    transform: scale(0.9);
    fill: #8F8F8F;
    margin-right: 10px;
}

/* The search bar input */
.ssh_searching_section input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #414141;
}

.ssh_searching_section input::placeholder {
    color: #8F8F8F;
}


/* Close the ssh filing system */
.close_ssh_filing {
    width: 50px;
    height: 50px;
    background-color: #C53B3B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_ssh_filing svg {
    width: 30px;
    fill: #F3F3F3;
}

/* Select Working Folder */
.show_selected_path_section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.inner_show_selected_path {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #F3F3F3;
}

.inner_show_selected_path h3 {
    color: #414141;
}

/* Read the selected path */
.view_selected_path {
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1.5px solid #8F8F8F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #414141;
}

.the_selected_path_show {
    margin-left: 5px;
    color: #406CEE;
}


/* This section will contain the navigation of the ssh directory and selecting directory */
.ssh_select_and_move_to_directories {
    width: 100%;
    height: calc(100% - 130px);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* The ssh navigation section */
.select_ssh_directory_navigation {
    width: 300px;
    height: calc(100% - 10px);
    overflow: auto;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #F3F3F3;
}


/* The clickable and inner dirs */
.the_clickable_and_inner_dir {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* After clicking this is whre the inner dirs will be dispayed */

.inner_clicked_dir {
    display: none; /* When a dir is clicked, display flex */
    width: 100%;
    max-height: 300px;
    padding-left: 20px;
}

/* The inner section containing buttons and dirs */

.drop_inner_dir {
    width: calc(100% - 10px);
    max-height: 100%;
    border-radius: 10px;
    border: 1.5px solid #414141;
    padding-bottom: 5px;
}

.drop_inner_dir:hover {
    border: 1.5px solid #406CEE;
}


/* These button will close or enter onto the dir */
.close_enter_inner_dir_btns {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Inner dir buttons */
.inner_dir_enter,.inner_dir_close {
    width: 45%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #414141;
    cursor: pointer;
    transition: 0.2 ease-in;
}

.inner_dir_enter:hover {
    background-color: #406CEE;
}

.inner_dir_close:hover {
    background-color: #C53B3B;
}

.inner_dir_enter span,.inner_dir_close span{
    color: #F3F3F3;
}

.inner_dir_enter svg,.inner_dir_close svg{
    fill: #F3F3F3;
    width: 24px;
}


/* The inner dirs themselves */

.minor_dir_them_section {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Individual Dir */
.minor_dir {
    width: calc(100% - 10px);
    min-height: 45px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    fill: #414141;
    color: #414141;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.minor_dir:hover {
    background-color: #D9D9D9;
    fill: #406CEE;
    color: #406CEE;
}

.minor_dir svg {
    width: 24px;
    margin-right: 10px;
}

.minor_dir span {
    font-size: 15px;
}


/* Clickable ssh directory */
.clickable_ssh_directory {
    width: calc(100% - 10px);
    height: 45px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.clickable_ssh_directory:hover {
    background-color: #D9D9D9;
}

.clickable_ssh_directory span {
    font-size: 15px;
    color: #414141;
}

.clickable_ssh_directory:hover > span {
    color: #406CEE;
}

.clickable_ssh_directory svg {
    width: 24px;
    fill: #414141;
    margin-right: 10px;
}

.clickable_ssh_directory:hover > svg {
    fill: #406CEE;
}


/* The checking directory section */

.check_choosen_directory_section {
    width: calc(100% - 310px);
    height: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #F3F3F3;
}

/* The checked and choosen dir */
.ind_checked_and_choosen_dir {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    transition: 0.1s ease-in;
    fill: #414141;
    color: #414141;
    margin-bottom: 10px;
    cursor: pointer;
}

/* The hover effect */

.ind_checked_and_choosen_dir:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

/* On check */
.ind_onchecked_and_choosen_dir {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

/* The checkbox section */
.check_dir_section {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.check_dir_section input {
    visibility: hidden;
}


/* The checkbox */
.check_dir {
    width: 20px;
    height: 20px;
    border: 1.5px solid #414141;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in;
}

/* check effect */
.svg_check_containers_hover {
    border: 1.5px solid #f3f3f3;
}

/* Hover effect */
.ind_checked_and_choosen_dir:hover .check_dir_section > .check_dir{
    border: 1.5px solid #F3F3F3;
}

.svg_check_dir_tick {
    width: 15px;
    visibility: hidden;
}

/* The folder icon */
.check_folder_ic {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_folder_ic svg {
    width: 60px;
}

/* The checkable dir name */
.checkable_dir_name {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.checkable_dir_name span {
    width: calc(100% - 30px);
    text-align: center;
    font-size: 14px;
}



/* The ssh login popup */

.ssh_login_popup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;  /* Pop in and out */
    align-items: center;
    justify-content: center;
}


.inner_ssh_login_popup {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65,0.4);
}

/* The ssh login form */
.ssh_login_form {
    position: relative;
    width: 600px;
    height: 420px; /* Change height from 350px */
    border-radius: 10px;
    background-color: white;
}

/* ssh form top */
.ssh_login_form_top {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 16px;
    color: #414141;
}

/* Close form */
.close_ssh_form {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #C53B3B;
    fill: #C53B3B;
    top: 25px;
    right: 25px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.close_ssh_form:hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
}

.close_ssh_form svg {
    width: 30px;
}


/* The ssh login inputs */

.ssh_login_inputs {
    width: 100%;
    height: 280px; /* Change the height from 210 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The inputs */
.ssh_loh_input_indv {
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ssh_loh_input_indv span {
    font-size: 17px;
    color: #8F8F8F;
}


/* The input and icon ssh input individuals */
.log_ssh_input_icon {
    width: 420px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
}

/* The icon */
.ssh_log_ic {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #D9D9D9;
}

.ssh_log_ic svg {
    width: 30px;
    fill: #414141;
}


/* The login ssh input */
.log_ssh_input_icon input {
    height: 100%;
    width: 360px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 17px;
    color: #414141;
    background-color: inherit;
    border: none;
    outline: none;
}

/* The port section */
.default_input_port {
    height: 100%;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Default Port input */
.default_input_port input {
    display: none; /* Show it when edit check is on */
    height: 100%;
    width: 180px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 17px;
    color: #414141;
    background-color: inherit;
    border: none;
    outline: none;

}

/* Default display */
.show_default {
    height: 40px;
    width: 180px;
    display: flex; /* Show it when edit check is off */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
}

.show_default span {
    color: #F3F3F3;
}

/* Engage port edit */
.edit_default {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    fill: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.edit_default_active {
    background-color: #406CEE;
}

.edit_default:hover {
    background-color: #406CEE;
}

.edit_default svg {
    width: 25px;
}

/* Edit check input */
#engage_port_editor {
    display: none;
    width: 15px;
    height: 15px;
}


/* Ssh connect button section */
.the_connect_btn_section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The connect to ssh btn */
.connect_ssh_btn {
    width: 200px;
    height: 55px;
    background-color: #414141;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding-left: 40px;
    padding-right: 40px; */
    font-size: 18px;
    font-weight: 500;
    color: #F3F3F3;
    fill: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in;
}

/* The hover effect */
.connect_ssh_btn:hover {
     background-color: #406CEE;
} 

/* The loader */
.loader_ssh_log {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #406CEE;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 0.4s linear infinite; /* Safari */
    animation: spin 0.4s linear infinite;
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Alraedy connected ssh devices  */
.ssh_available_devices {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

/* The previously connected devices */
.ssh_available_device {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.ssh_available_device:hover {
    background-color: white;
    transform: scale(1.1);
}

.ssh_available_device:hover > .ssh_device_icon_and_details > .ssh_dev_os_icon{
    fill: #406CEE;
}


/* Device os and details */
.ssh_device_icon_and_details,.ssh_device_edit_and_connect_both {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Device os icon */
.ssh_dev_os_icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #414141;
    transition: 0.2s ease-in;
}

.ssh_dev_os_icon svg {
    width: 50px;
    height: 50px;
}

/* The ssh devce login details */

.ssh_dev_login_detail {
    position: relative;
    height: 50px;
    margin-right: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #B5B5B5;
}


/* Detail icon */
.ssh_dev_login_detail_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #414141;
}

.ssh_dev_login_detail_icon svg {
    width: 17px;
    fill: #F3F3F3;
}

/* The ssh detail span */
.ssh_dev_login_detail span{
    padding: 10px;
    padding-left: 40px;
    color: #414141;
}


/* Edit SSH device details */
.ssh_device_edit_and_connect {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

.ssh_device_edit_and_connect:nth-child(1):hover{
    background-color: #406CEE;
}

.ssh_device_edit_and_connect:nth-child(2):hover{
    background-color: #2CA631;
}

.ssh_device_edit_and_connect svg {
    width: 22px;
    fill: #F3F3F3;
}





/* The safe creation form section */

.create_form {
    width: 700px;
    height: 100%;
}

/* Heading and heading details section */
.heading_and_headDetails {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    border-bottom: 1px solid #8F8F8F;
}

.heading_and_headDetails h3 {
    color: #406CEE;
    margin-bottom: 10px;
    font-size: 19px;
}

.heading_and_headDetails span {
    color: #8F8F8F;
    font-size: 15px;
}


/* Select account and add safe name */
.select_account_add_safe_name {
    width: 100%;
    height: fit-content;
    display: flex;
}

/* Select account section */

.select_account {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

}

.acc-label {
    font-size: 16px;
    font-weight: 500;
    color: #414141;
    margin-bottom: 10px;
}

.account-select {
    width: fit-content;
    height: 50px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #414141;
}

.account-select svg {
    width: 26px;
    fill: #414141;
    margin-left: 10px;
}

/* Account profile picture */
.account-profile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}

.account-profile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* The separator section */
.the-separator {
    width: 80px;
    height: max-content;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-separator div {
    width: 2px;
    height: 50px;
    transform: rotate(20deg);
    background-color: #414141;
}


/* The safe name section */

.safe-name-section {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.safe-name-section input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #414141;
    outline: none;
    background-color: #F3F3F3;
    font-size: 17px;
    color: #414141;
}


/* Description section */

.description-section {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}

/* Inpiration */

.inspiration {
    display: flex;
    color: #8F8F8F;
    font-size: 15px;
    margin-bottom: 15px;
}

.inspiration p {
    margin-left: 5px;
    color: green;
}

/* Description */
.Description {
    display: flex;
    color: #414141;
    font-size: 15px;

}

.Description p {
    margin-left: 5px;
    color: #8F8F8F;
}

/* The description input */

.description-input {
    width: 100%;
    height: 50px;
    outline: none;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 17px;
    color: #414141;
    background-color: #F3F3F3;
}

/* Private or public section */

.private-or-public {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}

/* The private section */
.private {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.check-and-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* The check */
.check-click {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #414141;
    margin-right: 10px;
}

.check-click div {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #414141;
    visibility: hidden;
}

.private svg {
    width: 18px;
    fill: #414141;
    margin-right: 10px;
}

.pp-name {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.elaborate-choice {
    color: #8F8F8F;
    font-size: 15px;
    margin-left: 60px;
}


/* Safe path section */

.safe-path-section {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #8F8F8F;

}

.select-path {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Select path btn */

.select-path-btn {
    width: fit-content;
    height: 50px;
    border-radius: 10px;
    background-color: #ACACAC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    fill: #F3F3F3;
    color: #F3F3F3;
    transition: 0.1s ease-in;
    cursor: pointer;
}

/* Hover effect */
.select-path-btn:hover {
    background-color: #414141;
}

.select-path-btn span {
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
}

/* Line separation */
.path-separation {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path-separation div {
    width: 2px;
    height: 50px;
    transform: rotate(20deg);
    background-color: #414141;
}

/* See path selected */

.path-pasted {
    width: 400px;
    height: 50px;
    padding: 15px;
    overflow: auto;
    border-radius: 10px;
    background-color: #F3F3F3;
    border: 2px solid #414141;
}

/* The path itself */
#selected-path {
    color: #414141;
    font-size: 17px;
}

.path-details {
    color: #8F8F8F;
    font-size: 15px;
    margin-top: 10px;
}


/* Details of safe to be created (private or public) */
.new-safe-privacy {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;

}

.new-safe-privacy span {
    color: #8F8F8F;
    font-size: 15px;

}

.new-safe-privacy svg {
    width: 24px;
    fill: #8F8F8F;
}


/* Create safe section */

.create-safe-section {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.create-safe-btn {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #F3F3F3;
    padding: 20px;
    background-color: #406CEE;
    font-size: 17px;
    font-weight: 500;
}

.create-safe-btn svg {
    width: 30px;
    fill: #F3F3F3;
    margin-left: 10px;
}