* {
    font-family: 'Roboto', sans-serif;
}

.lower-section{
    position: relative;
}

#alert_section {
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 10px;
}
.message_popup {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #414141;
    z-index: 4;
}
.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}
.message_pop_icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
    pointer-events: none;
} 
.close_pop {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.close_pop:hover {
    background-color: #fff;
}
.close_pop svg {
    width: 25px;
}
.message_popup_failed .close_pop svg {
    fill: #C53B3B;
}
.message_popup_success .close_pop svg {
    fill: #2CA631;
}
.message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}
.message_popup_success .message_pop_icon {
    background-color: #2CA631;
}
.message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}
.message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}
.creation_section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create_form {
    width: 700px;
    height: 100%;
}
.heading_and_headDetails {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    border-bottom: 1px solid #8F8F8F;
}
.heading_and_headDetails h3 {
    color: #406CEE;
    margin-bottom: 10px;
    font-size: 19px;
}
.heading_and_headDetails span {
    color: #8F8F8F;
    font-size: 15px;
}
.select_account_add_safe_name {
    width: 100%;
    height: fit-content;
    display: flex;
}
.select_account {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.acc-label {
    font-size: 16px;
    font-weight: 500;
    color: #414141;
    margin-bottom: 10px;
}
.account-select {
    width: fit-content;
    height: 50px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.account-select:hover {
    border: 2px solid #406CEE;
}
.defaut_account {
    pointer-events: none;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.defaut_account svg {
    width: 26px;
    fill: #414141;
    margin-left: 10px;
}
.account-dot-loader {
    min-width: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-loader {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #8F8F8F;
    display: inline-block;
    margin: 0 3px;
    animation-name: dots;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.dot-loader:nth-child(2) {
    animation-delay: 0.4s;
}
.dot-loader:nth-child(3) {
    animation-delay: 0.8s;
}
@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7)translateY(18px);
    }
}
.account-select svg {
    width: 26px;
    fill: #414141;
    margin-left: 10px;
}
.account-profile {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    color: #F3F3F3;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    text-transform: uppercase;
}
.account-profile img {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
}
.the-separator {
    width: 80px;
    height: max-content;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.the-separator div {
    width: 2px;
    height: 50px;
    transform: rotate(20deg);
    background-color: #414141;
}
.safe-name-section {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.safe-name-section input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #8F8F8F;
    outline: none;
    font-size: 16px;
    color: #414141;
    transition: 0.2s ease-in-out;
}
.safe-name-section input:focus{
    border: 2px solid #406CEE;
}
.description-section {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}
.inspiration {
    display: flex;
    color: #8F8F8F;
    font-size: 15px;
    margin-bottom: 15px;
}
.inspiration p {
    cursor: pointer;
    margin-left: 5px;
    color: green;
}
.Description {
    display: flex;
    color: #414141;
    font-size: 15px;
}
.Description p {
    margin-left: 5px;
    color: #8F8F8F;
}
.description-input {
    width: 100%;
    height: 50px;
    outline: none;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #414141;
    border: 2px solid #8F8F8F;
    transition: 0.2s ease-in-out;
}
.description-input:focus {
    border: 2px solid #406CEE;
}
.private-or-public {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}
.private {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.check-and-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.check-click {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #414141;
    margin-right: 10px;
    cursor: pointer;
}
.check-click:hover {
    border: 2px solid #406CEE;
}
.check-click div {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-color: #406CEE;
    visibility: hidden;
}
.private svg {
    width: 18px;
    fill: #414141;
    margin-right: 10px;
}
.pp-name {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}
.elaborate-choice {
    color: #8F8F8F;
    font-size: 15px;
    margin-left: 60px;
}
.new-safe-privacy {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}
.new-safe-privacy span {
    color: #8F8F8F;
    font-size: 15px;
}
.new-safe-privacy svg {
    width: 24px;
    margin-right: 5px;
    fill: #8F8F8F;
}
.create-safe-section {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
.create-safe-btn {
    width: fit-content;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #F3F3F3;
    padding: 20px;
    background-color: #8F8F8F;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.create-safe-btn:hover {
    background-color: #406CEE;
}

.create-safe-btn svg {
    width: 27px;
    fill: #F3F3F3;
    margin-left: 10px;
}

@media screen and (max-width: 610px) {
    .create_form {
        width: 100%;
    }
    .heading_and_headDetails {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
    }
    .select_account_add_safe_name {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
    }
    .account-select {
        height: 45px;
        border-radius: 6px;
    }
    .account-profile {
        width: 35px;
        height: 35px;
    }
    .account-profile img {
        border-radius: 6px;
    }
    .the-separator {
        width: 50px;
    }
    .safe-name-section input {
        height: 45px;
        border-radius: 6px;
    }
    .description-section {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
    .inspiration {
        flex-direction: column;
        padding-left: 10px;
    }
    .inspiration p {
        margin-left: 0px;
        margin-top: 5px;
    }
    .Description {
        padding-left: 10px;
    }
    .description-input {
        width: calc(100% - 20px);
        margin-left: 10px;
        height: 45px;
        border-radius: 6px;
    }
    .private-or-public {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
    .private {
        padding-left: 10px;
    }
    .new-safe-privacy {
        width: calc(100% - 20px);
        margin-left: 10px;
        padding-left: 10px;
    }
    .create-safe-section {
        width: calc(100% - 20px);
        margin-left: 10px;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 550px) {
    .select_account_add_safe_name {
        flex-direction: column;
    }
    .select_account {
        width: 100%;
    }
    .account-select {
        width: calc(100% - 10px);
    }
    .account-select svg {
        margin-left: calc(100% - 160px);
        min-width: 23px;
    }
    .the-separator {
        display: none;
    }
    .safe-name-section {
        width: 100%;
    }
    .safe-name-section input {
        width: calc(100% - 10px);
    }
    .check-click {
        width: 17px;
        height: 17px;
    }
    .check-click div {
        width: 10px;
        height: 10px;
    }
    .private svg {
        width: 16px;
    }
    .pp-name {
        font-size: 16px;
    }
    .elaborate-choice {
        font-size: 14px;
    }
    .new-safe-privacy svg {
        width: 20px;
    }
    .new-safe-privacy span {
        font-size: 14px;
    }
    .create-safe-btn {
        height: 45px;
        border-radius: 6px;
        font-size: 15px;
    }
    .create-safe-btn svg {
        width: 25px;
    }
}
@media screen and (max-width: 500px) {
    .heading_and_headDetails h3 {
        font-size: 17px;
    }
    .acc-label {
        font-size: 15px;
    }
    .inspiration, .Description {
        font-size: 14px;
    }
    .check-click {
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }
    .private svg {
        width: 15px;
    }
    .pp-name {
        font-size: 15px;
    }
}
@media screen and (max-width: 400px) {
    .heading_and_headDetails h3 {
        font-size: 15px;
    }
}
@media screen and (max-width: 370px) {
    .heading_and_headDetails h3 {
        font-size: 14px;
    }
    .elaborate-choice, .inspiration, .path-details, .new-safe-privacy span {
        font-size: 13px;
    }
}
@media screen and (max-width: 330px) {
    .heading_and_headDetails h3 {
        font-size: 14px;
    }
    .elaborate-choice, .inspiration, .path-details, .new-safe-privacy span {
        font-size: 13px;
    }
}
@media screen and (max-width: 300px) {
    .heading_and_headDetails h3 {
        font-size: 13px;
    }
    .heading_and_headDetails span {
        color: #8F8F8F;
        font-size: 12px;
    }

    .elaborate-choice, .inspiration, .path-details, .new-safe-privacy span {
        font-size: 12px;
    }
}