/* Popup Sections */

#success_popup,#not_selected,#pop_error {
    position: absolute;
    right: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 20px;
    height: 60px;
    border-radius: 10px;
    visibility: hidden;
}

#success_popup {
    border: 2px solid #2CA631;
}

#not_selected {
    border: 2px solid #406CEE;
}

#pop_error {
    border: 2px solid #E44F26;
}

.success_message,.unselected_message,.error_message {
    font-size: 18px;
}

.success_message {
    color: #2CA631;
}

.unselected_message {
    color: #406CEE;
}

.error_message {
    color: #E44F26;
}

.check_icon,.check_icon_unselected,.pop_error_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
}

.check_icon {
    background-color: #2CA631;
}

.check_icon_unselected {
    background-color: #406CEE;
}

.pop_error_icon {
    background-color: #E44F26;
}


.check_icon svg,.check_icon_unselected svg,.pop_error_icon svg {
    width: 30px;
    fill: #F3F3F3;
}



/* Creation Form Section and ssh login popup*/

.creation_section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Choose path ssh section (File System) */

.choose_path_ssh_section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.inner_choose_path_ssh {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65,0.4);
}

/* Ssh File system */
.ssh_file_system {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 10px;
}

/* User path search and close section */
.user_search_path_close_section {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:aqua;
}

/* User indicate section */
.user_indicate_section {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #F3F3F3;
    color: #414141;
    font-size: 16px;
}

/* the slash */
.slash_user {
    width: 2px;
    height: 35px;
    transform: rotate(20deg);
    margin-left: 10px;
    margin-right: 10px;
    background-color: #414141;
}

.user_indicate_section svg {
    width: 23px;
    fill: #414141;
}


/* Path search and and current path section */
.path_and_search_path_section {
    width: calc(100% - 310px);
    height: 50px;
    border-radius: 10px;
    background-color: #F3F3F3;
}


/* The ssh login popup */

.ssh_login_popup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;  /* Pop in and out */
    align-items: center;
    justify-content: center;
}


.inner_ssh_login_popup {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65,0.4);
}

/* The ssh login form */
.ssh_login_form {
    width: 600px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
}

/* ssh form top */
.ssh_login_form_top {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 16px;
    color: #414141;
}

/* Close form */
.close_ssh_form {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #C53B3B;
    top: -25px;
    right: -25px;
}

.close_ssh_form svg {
    width: 30px;
    fill: #C53B3B;
}


/* The ssh login inputs */

.ssh_login_inputs {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The inputs */
.ssh_loh_input_indv {
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ssh_loh_input_indv span {
    font-size: 17px;
    color: #8F8F8F;
}


/* The input and icon ssh input individuals */
.log_ssh_input_icon {
    width: 420px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
}

/* The icon */
.ssh_log_ic {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #D9D9D9;
}

.ssh_log_ic svg {
    width: 30px;
    fill: #414141;
}

/* The login ssh input */
.log_ssh_input_icon input {
    height: 100%;
    width: 360px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 17px;
    color: #414141;
    background-color: inherit;
    border: none;
    outline: none;
}


/* Ssh connect button section */
.the_connect_btn_section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The connect to ssh btn */
.connect_ssh_btn {
    width: 200px;
    height: 55px;
    background-color: #406CEE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #F3F3F3;
    fill: #F3F3F3;
}


/* The safe creation form section */

.create_form {
    width: 700px;
    height: 100%;
}

/* Heading and heading details section */
.heading_and_headDetails {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    border-bottom: 1px solid #8F8F8F;
}

.heading_and_headDetails h3 {
    color: #406CEE;
    margin-bottom: 10px;
    font-size: 19px;
}

.heading_and_headDetails span {
    color: #8F8F8F;
    font-size: 15px;
}


/* Select account and add safe name */
.select_account_add_safe_name {
    width: 100%;
    height: fit-content;
    display: flex;
}

/* Select account section */

.select_account {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

}

.acc-label {
    font-size: 16px;
    font-weight: 500;
    color: #414141;
    margin-bottom: 10px;
}

.account-select {
    width: fit-content;
    height: 50px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #414141;
}

.account-select svg {
    width: 26px;
    fill: #414141;
    margin-left: 10px;
}

/* Account profile picture */
.account-profile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}

.account-profile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* The separator section */
.the-separator {
    width: 80px;
    height: max-content;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-separator div {
    width: 2px;
    height: 50px;
    transform: rotate(20deg);
    background-color: #414141;
}


/* The safe name section */

.safe-name-section {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.safe-name-section input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #414141;
    outline: none;
    background-color: #F3F3F3;
    font-size: 17px;
    color: #414141;
}


/* Description section */

.description-section {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}

/* Inpiration */

.inspiration {
    display: flex;
    color: #8F8F8F;
    font-size: 15px;
    margin-bottom: 15px;
}

.inspiration p {
    margin-left: 5px;
    color: green;
}

/* Description */
.Description {
    display: flex;
    color: #414141;
    font-size: 15px;

}

.Description p {
    margin-left: 5px;
    color: #8F8F8F;
}

/* The description input */

.description-input {
    width: 100%;
    height: 50px;
    outline: none;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 17px;
    color: #414141;
    background-color: #F3F3F3;
}

/* Private or public section */

.private-or-public {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;
}

/* The private section */
.private {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.check-and-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* The check */
.check-click {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #414141;
    margin-right: 10px;
}

.check-click div {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #414141;
    visibility: hidden;
}

.private svg {
    width: 18px;
    fill: #414141;
    margin-right: 10px;
}

.pp-name {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.elaborate-choice {
    color: #8F8F8F;
    font-size: 15px;
    margin-left: 60px;
}


/* Safe path section */

.safe-path-section {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #8F8F8F;

}

.select-path {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Select path btn */

.select-path-btn {
    width: fit-content;
    height: 50px;
    border-radius: 10px;
    background-color: #ACACAC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.select-path-btn span {
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
}

/* Line separation */
.path-separation {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path-separation div {
    width: 2px;
    height: 50px;
    transform: rotate(20deg);
    background-color: #414141;
}

/* See path selected */

.path-pasted {
    width: 400px;
    height: 50px;
    padding: 15px;
    overflow: auto;
    border-radius: 10px;
    background-color: #F3F3F3;
    border: 2px solid #414141;
}

/* The path itself */
#selected-path {
    color: #414141;
    font-size: 17px;
}

.path-details {
    color: #8F8F8F;
    font-size: 15px;
    margin-top: 10px;
}


/* Details of safe to be created (private or public) */
.new-safe-privacy {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8F8F8F;

}

.new-safe-privacy span {
    color: #8F8F8F;
    font-size: 15px;

}

.new-safe-privacy svg {
    width: 24px;
    fill: #8F8F8F;
}


/* Create safe section */

.create-safe-section {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.create-safe-btn {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #F3F3F3;
    padding: 20px;
    background-color: #406CEE;
    font-size: 17px;
    font-weight: 500;
}

.create-safe-btn svg {
    width: 30px;
    fill: #F3F3F3;
    margin-left: 10px;
}