/* The inherited section */
.inherited-upper-nav-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* The pie chart section */
.pie-chart-section {
    width: 400px;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.inner-pie-section {
    height: fit-content;
    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}


/* home-right-section */
.home-right-section {
    width: calc(100% - 400px);
    height: 100%;
}

/* The stats section */

.stats-section {
    width: calc(100% - 10px);
    height: fit-content;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* The stat icon section */

.stat-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F3F3F3;
}

.stat-icon svg {
    fill: #414141;
    width: 20px;
}

/* The stat details section */
.stats-details-section {
    width: 100%;
    height: calc(100% - 130px);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #F3F3F3;
}

/* The stat details themeselves */

.the-stats {
    width: 250px;
    height: calc(100% - 20px);
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #E4E4E4;
}

.the-stats div {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.the-stats svg {
    width: 40px;
    fill: #8F8F8F;
}

.the-stats h5 {
    font-size: 20px;
    color: #8F8F8F;
}

/* The stat numbers */
.stat-nums {
    width: 100%;
    height: 40%;
    padding-left: 20px;
}

.stat-nums span {
    font-size: 24px;
    font-weight: 400;
    color: #8F8F8F;
}


/* The Pinned safes sections */

.pinned-safe-section {
    width: calc(100% - 10px);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

/* The pin icon */

.pin-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F3F3F3;
}

.pin-icon svg {
    fill: #414141;
    width: 20px;
}

/* The pinned safes */

.pinned-safes {
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F3F3F3;
}

/* The pinned safe single */

.the-pinned-safe {
    width: 500px;
    height: 170px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #E4E4E4;
}

/* Pinned details */

/* Pin upper section */

.pin-safe-up {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pin-safe-up h2 {
    color: #406CEE;
    font-size: 20px;
    margin-right: 10px;
}

.pin-name-lock {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.visible-detail {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.visible-detail svg {
    fill: #406CEE;
    width: 18px;
    height: 18px;
}

/* The pin stars and watchers */

.pin-stats-watches {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pin-stats-watches svg {
    width: 18px;
}

/* The pin detail section */

.pin-more-details {
    width: max-content;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 6px;
    color: #406CEE;
    fill: #406CEE;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.pin-more-details span {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
}


/* Pin safe about section */
.pin-safe-about {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: #8F8F8F;
}

.pin-safe-about span {
    font-size: 15px;
}


/* Pin safe down section */

.pin-safe-down {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

/* Pinned languages section */

.pin-langs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

/* The lang images */

.pin-lang-single {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
}

.pin-lang-single img {
    width: 100%;
    height: 100%;
}


/* The last update details */

.pin-last-update {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.last-update-details {
    width: max-content;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.last-update-details svg {
    width: 22px;
    fill: #406CEE;
}

.last-update-details span {
    font-size: 15px;
    margin-left: 20px;
    color: #406CEE;
}


/* The pushing line graph */
.dash_line_graph {
    width: calc(100% - 10px);
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* The pin icon */

.grid-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F3F3F3;
}

.grid-icon svg {
    fill: #414141;
    width: 30px;
}

/* The grid section */
.the-push-grid {
    width: 100%;
    height: calc(100% - 40px);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F3F3F3;
}


/* RESPONSIVE WEBSITE USING BOTH WIDTH */

/* WITH WIDTH */

/* Width max=1370px  */
@media screen and (max-width: 1370px){

    /* THE PINNED SAFE */

    .the-pinned-safe {
        width: 460px;
        height: 150px;
    }

    /* The safe name */
    .pin-safe-up h2 {
        font-size: 18px;
    }

    /* The safe lock */
    .visible-detail {
        width: 30px;
        height: 30px;
    }

    .visible-detail svg {
        width: 15px;
        height: 15px;
    }

    /* The pin detail section */

    .pin-more-details {
        height: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pin-more-details span {
        font-size: 14px;
    }

    .pin-stats-watches svg {
        width: 16px;
    }

    /* The Safe About */
    .pin-safe-about span {
        font-size: 13px;
    }

    /* The lang images */

    .pin-lang-single {
        width: 25px;
        height: 24px;
        margin-right: 7px;
    }

    /* The last date of update */
    .last-update-details {
        height: 30px;
        padding: 15px;
    }
    
    .last-update-details svg {
        width: 19px;
    }
    
    .last-update-details span {
        font-size: 14px;
        margin-left: 10px;
    }

}


/* Width max=1290px */
@media screen and (max-width: 1290px){

    /* THE PINNED SAFE */

    .the-pinned-safe {
        width: 420px;
        height: 140px;
    }

    /* The safe name */
    .pin-safe-up h2 {
        font-size: 16px;
    }

    /* The safe lock */
    .visible-detail {
        width: 25px;
        height: 25px;
    }

    .visible-detail svg {
        width: 13px;
        height: 13px;
    }

    /* The pin detail section */

    .pin-more-details {
        height: 28px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pin-more-details span {
        font-size: 12px;
    }

    .pin-stats-watches svg {
        width: 15px;
    }

    /* The Safe About */
    .pin-safe-about span {
        font-size: 12px;
    }

    /* The lang images */

    .pin-lang-single {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    /* The last date of update */
    .last-update-details {
        height: 28px;
        padding: 10px;
    }
    
    .last-update-details svg {
        width: 16px;
    }
    
    .last-update-details span {
        font-size: 12px;
        margin-left: 10px;
    }

}


/* Width max=1030px */
@media screen and (max-width: 1030px){

    /* THE PIE SECTION */

    .pie-chart-section {
        height: 100%;
    }

    .inner-pie-section {
        height: 100%;
    }

    /* THE STAT SECTION */

    /* The stat details section */
    .stats-details-section {
        width: 100%;
        height: max-content;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    /* The stat details themeselves */

    .the-stats {
        width: 100%;
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .the-stats h5{
        font-size: 17px;
    }

    .the-stats svg {
        width: 30px;
    }

    .the-stats div {
        height: 50%;
    }

    .stat-nums span {
        font-size: 21px;
    }

    /* THE PINNED SAFE */

    .the-pinned-safe {
        width: 100%;
    }

}


/* Width max=950px */
@media screen and (max-width: 950px){

    /* THE INHERITING SECTION  */
    .lower-section {
        height: fit-content !important;
    }
    
    /* THE MAIN SECTION */

    /* The inherited section */
    .inherited-upper-nav-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* THE PIE SECTION */

    .pie-chart-section {
        width: 100%;
        height: 450px;
    }
    
    /* THE STAT AND SAFE SECTION */
    .home-right-section {
        width: 100%;
        padding-left: 10px;
        margin-top: 10px;
    }
    

}


/* Width max=550px */
@media screen and (max-width: 550px){

    /* THE PIE SECTION */

    .pie-chart-section {
        height: fit-content !important;
    }
    
}


/* Width max=420px */
@media screen and (max-width: 420px){

    /* THE PIE SECTION */

    .pie-chart-section {
        height: 400px !important;
    }

    /* PINNED SAFES */

    .the-pinned-safe {
        height: 140px;
    }

}


/* Width max=300px */
@media screen and (max-width: 300px){

    /* THE PIE SECTION */

    .pie-chart-section {
        height: fit-content !important;
    }

    .inner-pie-section {
        height: fit-content !important;
    }

    /* PINNED SAFES */

    .the-pinned-safe {
        height: 120px;
    }

    .pin-safe-up h2 {
        font-size: 12px;
    }

    .visible-detail {
        width: 20px;
        height: 20px;
    }

    .visible-detail svg {
        width: 10px;
        height: 10px;
    }

    .pin-more-details {
        display: none;
    }

    .last-update-details {
        display: none;
    }

    
    
}
