.hero_section {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* hero word section */

.hero_word_section {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
    /* background-color: aquamarine; */
}

.hero_word_section h1 {
    font-size: 55px;
    font-weight: 700;
    color: #414141;
    width: 80%;
    z-index: 1;
}

.hero_word_section p {
    font-size: 19px;
    color: #414141;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    z-index: 1;
}

/* Call to action */
.hero_cta_btn {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #406CEE;
    border-radius: 10px;
    color: #F3F3F3;
    fill: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.hero_cta_btn svg {
    width: 26px;
    margin-left: 15px;
}

.hero_cta_btn:hover {
    transform: scale(1.05);
}

/* Extra Images */
.ai_img,.coding_img,.merge_img {
    position: absolute;
}

.ai_img img,.coding_img img,.merge_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ai_img {
    width: 180px;
    height: 180px;
    bottom: 50px;
    left: 40px;
}

.coding_img {
    width: 180px;
    height: 180px;
    top: 60px;
    left: 40px;
}

.merge_img {
    width: 100px;
    height: 100px;
    top: 100px;
    right: 35%;
}

.extra_images_mobile {
    width: 100%;
    height: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.extra_image_mobile {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3DBFF;
}
.extra_image_mobile:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}

.extra_image_mobile img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

/* hero animation section */

.hero_animation_section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    /* background-color: chocolate; */
}



/* Discover section */
.discover_section {
    width: 100%;
    height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.discover_section h2 {
    font-size: 23px;
    font-weight: 600;
    color: #414141;
}

.discover_features {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discovered_feature {
    width: 250px;
    height: 110px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    fill: #414141;
    color: #414141;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.2s ease-in-out;
}

.discovered_feature:hover {
    border: 1px solid #406CEE;
    fill: #406CEE;
    color: #406CEE;
}

.discovered_feature:nth-child(2) {
    margin-left: 20px;
    margin-right: 10px;
}

.discovered_feature:nth-child(3) {
    margin-left: 10px;
    margin-right: 20px;
}

.discovered_feature span {
    font-size: 18px;
    font-weight: 500;
}

.discovered_feature svg {
    width: 34px;
}


/* Verison Control */
.version_control_section {
    margin-top: 50px;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.vc_heading {
    width: 100%;
    height: 50px;
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.vc_heading svg {
    width: 25px;
    margin-right: 20px;
    fill: #414141;
}

.vc_heading h2 {
    font-size: 20px;
    font-weight: 600;
    color: #414141;
}

.vc_details {
    width: 100%;
    height: 70px;
    padding-left: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #414141;
    font-size: 17px;
    font-weight: 500;
}

.vc_images {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vc_actual_main_image {
    position: relative;
    width: calc(100% - 350px);
    height: max-content;
    /* border: 1px solid #D3DBFF; */
    border-radius: 10px;
}

.vc_actual_main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vc_actual_secondary_image {
    position: absolute;
    bottom: -60px;
    right: -70px;
    width: 300px;
    height: max-content;
    border-radius: 10px;
}

.vc_actual_secondary_2_image {
    position: absolute;
    bottom: 60px;
    left: -70px;
    width: 150px;
    height: max-content;
    border-radius: 10px;
}

.vc_btn_section {
    width: 100%;
    height: 60px;
    padding-left: 160px;
    display: flex;
    align-items: center;
}

/* Call to action */
.vc_action_btn {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #406CEE;
    border-radius: 10px;
    color: #F3F3F3;
    fill: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.vc_action_btn svg {
    width: 26px;
    margin-left: 15px;
}

.vc_action_btn:hover {
    transform: scale(1.05);
}


/* Welcome aboard */
.welcome_aboard_section {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 110px;
    background-color: #D3DBFF;
}

/* Animation aboard */
.welcome_aboard_animation {
    width: 500px;
    height: 100%;
}



/* Word aboard */
.welcome_aboard_words {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.aboard_list_item {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.blue_ab_dot {
    min-width: 12px;
    height: 12px;
    background-color: #406CEE;
    border-radius: 4px;
    margin: 15px;
    margin-top: 15px;
}

.aboard_list_item p {
    font-size: 17px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #414141;
}

/* Call to action */
.aboard_action_section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 45px;
}

.end_hero {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #406CEE;
    border-radius: 10px;
    color: #F3F3F3;
    fill: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.end_hero svg {
    width: 26px;
    margin-left: 15px;
}

.end_hero:hover {
    transform: scale(1.05);
}


/* Scrolling animation */

/* Animate heading and text */
.heading_text_hidden {
    opacity: 0;
    transition: 0.4s ease-in-out;
    transform: translateX(-100px)
}

.heading_text_show {
    opacity: 1;
    transform: translateX(0px);
}

/* Animate Discover Feature section */
.discovered_feature_hidden {
    opacity: 0;
    transition: 0.4s ease-in-out;
    transform: translateX(-100px)
}

.discovered_feature_show {
    opacity: 1;
    transform: translateX(0px);
}

.discovered_feature:nth-child(2),.extra_image_mobile:nth-child(2),.merge_img {
    transition-delay: 200ms;
}

.discovered_feature:nth-child(3),.extra_image_mobile:nth-child(3),.ai_img {
    transition-delay: 400ms;
}

.discovered_feature:nth-child(4) {
    transition-delay: 600ms;
}

/* Animate images section */
.main_image_hidden {
    opacity: 0;
    transition: 0.6s ease-in-out;
    transform: translateY(100px)
}

.main_image_show {
    opacity: 1;
    transform: translateY(0px);
}

.secondary_1_image_hidden {
    opacity: 0;
    transition: 0.6s ease-in-out;
    transform: translateX(100px);
}

.secondary_1_image_show {
    opacity: 1;
    transform: translateX(0px);
}

.secondary_2_image_hidden {
    opacity: 0;
    transition: 0.6s ease-in-out;
    transform: translateX(-100px);
    transition-delay: 150ms;
}

.secondary_2_image_show {
    opacity: 1;
    transform: translateX(0px);
}

.action_button_hidden {
    opacity: 0;
    transition: 0.6s ease-in-out;
    transform: translateY(60px)
}

.action_button_show {
    opacity: 1;
    transform: translateY(0px);
}


/* RESPONSIVE WEBSITE USING BOTH WIDTH */

/* WITH HEIGHT */
@media screen and (max-height: 640px){

    /* Hero word section */

    .hero_word_section h1 {
        font-size: 45px;
    }

    .hero_word_section p {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ai_img {
        width: 100px;
        height: 100px;
        bottom: 20px;
    }

    .coding_img {
        width: 120px;
        height: 120px;
        top: 20px;
    }

    .merge_img {
        width: 60px;
        height: 60px;
        top: 50px;
        right: 45%;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 70px;
    }


}


/* WITH WIDTH */

/* Width max=1290px */
@media screen and (max-width: 1290px){
    /* Hero word section */

    .ai_img {
        width: 140px;
        height: 140px;
    }

    .coding_img {
        width: 140px;
        height: 140px;
    }

    .merge_img {
        width: 90px;
        height: 90px;
    }

    /* More details about services */
    .vc_details {
        padding-right: 40px;
    }
    
}

/* Width max=1100px */
@media screen and (max-width: 1200px){
    /* Hero word section */

    .hero_word_section h1 {
        font-size: 40px;
    }

    .ai_img {
        width: 120px;
        height: 120px;
    }

    .coding_img {
        width: 120px;
        height: 120px;
    }

    .merge_img {
        width: 80px;
        height: 80px;
    }

    /* Discover feature section */
    .discovered_feature {
        width: 200px;
    }

    /* More details about services */
    .vc_heading {
        padding-left: 80px;
    }

    .vc_actual_main_image {
        width: calc(100% - 250px);
    }

    .vc_actual_secondary_image {
        width: 260px;
    }

    .vc_details {
        padding-left: 120px;
    }

    .vc_btn_section {
        padding-left: 120px;
    }
    
    /* Welcome aboard */
    .welcome_aboard_section {
        height: 400px;
        margin-top: 90px;
    }

    .welcome_aboard_animation {
        width: 400px;
    }

    .welcome_aboard_words {
        width: 56%;
    }

}

/* Width max=1030px */
@media screen and (max-width: 1030px){
    /* Hero word section */

    .ai_img {
        width: 110px;
        height: 110px;
    }

    .coding_img {
        width: 110px;
        height: 110px;
        top: 40px;
    }

    .merge_img {
        width: 70px;
        height: 70px;
        top: 60px;
        right: 30%;
    }    

    .hero_word_section h1 {
        font-size: 38px;
    }

    .hero_word_section p {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 30px;
    }
    
    /* More details about services */

    .vc_heading h2 {
        font-size: 19px; 
    }

    .vc_heading svg {
        width: 24px;
    }
    
    .vc_details {
        font-size: 16px;
    }

}

/* Width max=950px */
@media screen and (max-width: 950px){
    /* Hero section */
    .hero_section {
        height: max-content;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    /* hero word section */
    .hero_word_section {
        width: 100%;
        height: max-content;
        padding-left: 0px;
        align-items: center;
    }

    .hero_word_section h1 {
        text-align: center;
    }

    .hero_word_section p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .coding_img,.ai_img,.merge_img {
        display: none;
    }

    .extra_images_mobile {
        display: flex;
    }

    /* Hero animation section */
    .hero_animation_section {
        width: 100%;
        height: max-content;
        padding: 80px;
    }

    /* Discover feature section */
    .discovered_feature {
        width: 180px;
    }
    
    /* More details about services */

    .vc_heading {
        padding-left: 40px;
    }

    .vc_details {
        padding-left: 80px;
    }

    .vc_actual_main_image {
        width: calc(100% - 160px);
    }

    .vc_actual_secondary_image {
        right: -50px;
    }

    .vc_actual_secondary_2_image {
        left: -50px;
    }

    .vc_btn_section {
        padding-left: 80px;
    }

    /* Welcome aboard */
    .welcome_aboard_section {
        height: 350px;
        margin-top: 70px;
    }

    .welcome_aboard_animation {
        width: 350px;
    }

    .aboard_list_item p {
        font-size: 16px;
    }

}

/* Width max=850px */
@media screen and (max-width: 850px){
    /* Discover feature section */
    .discovered_feature {
        width: 170px;
    }

    /* More details about services */

    .vc_actual_main_image {
        width: calc(100% - 120px);
    }

    .vc_actual_secondary_2_image {
        left: -40px;
    }

    .vc_actual_secondary_image {
        right: -40px;
    }

    .vc_btn_section {
        padding-left: 60px;
    }

    /* Welcome aboard */
    .welcome_aboard_words {
        width: 52%;
    }

    .aboard_list_item p {
        padding-top: 10px;
    }
}

/* Width max=780px */
@media screen and (max-width: 780px){
    /* Discover feature section */
    .discover_section {
        height: 620px;
        padding-top: 40px;
        margin-top: 40px;
    }

    .discover_features {
        height: 540px;
        flex-direction: column;
    }

    .discovered_feature {
        width: calc(100% - 40px);
    }

    .discovered_feature:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .discovered_feature:nth-child(3) {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    /* More details about services */

    .vc_heading {
        padding-left: 20px;
    }

    .vc_details {
        padding-left: 55px;
    }

    .vc_actual_main_image {
        width: calc(100% - 40px);
    }

    .vc_actual_secondary_image {
        right: 0px;
    }

    .vc_actual_secondary_2_image {
        left: 0px;
        bottom: -60px;
    }

    .vc_btn_section {
        padding-left: 20px;
    }

    #vc_btn_section_2,#vc_btn_section_4 {
        height: 120px;
        align-items: flex-end;
        padding-bottom: 14px;
    }

    /* welcome aboard */
    .aboard_list_item p {
        padding-top: 9px;
    }
}

/* Width max=610px */
@media screen and (max-width: 610px){

    /* Hero animation section */
    .hero_animation_section {
        padding: 40px;
    }

    /* More details about services */
    #vc_details_4 {
        height: max-content;
    }

    #vc_details_4 p {
        margin-bottom: 25px;
    }

    #vc_btn_section_1,#vc_btn_section_3 {
        height: 120px;
        align-items: flex-end;
        padding-bottom: 15px;
    }

    /* welcome aboard */
    .welcome_aboard_section {
        height: max-content;
        flex-direction: column;
    }

    .welcome_aboard_animation {
        width: 100%;
        padding: 50px;
    }

    .welcome_aboard_words {
        width: 100%;
    }

    .aboard_action_section {
        padding-left: 0;
        justify-content: center;
        margin-bottom: 50px;
    }

    .aboard_list_item p {
        padding-right: 20px;
    }

    .blue_ab_dot {
        margin: 20px;
    }
}

/* Width max=550px */
@media screen and (max-width: 550px){
    /* Hero word section */
    .hero_word_section h1 {
        font-size: 35px;
    }

    .hero_word_section p {
        font-size: 17px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 40px;
    }

    /* Discover feature section */
    .discover_section h2 {
        font-size: 21px;
        text-align: center;
    }

    /* More details about services */

    .vc_details {
        padding-left: 30px;
        padding-right: 20px;
    }

    #vc_details_1,#vc_details_2,#vc_details_3 {
        height: max-content;
    }

    #vc_details_1 p,#vc_details_2 p,#vc_details_3 p {
        margin-bottom: 25px;
    }
    
}

/* Width max=490px */
@media screen and (max-width: 490px){
    /* Hero word section */
    .hero_word_section h1 {
        font-size: 30px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero_word_section p {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .extra_images_mobile {
        height: 100px;
    }

    .extra_image_mobile  {
        width: 100px;
        height: 100px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 30px;
    }

    /* Discover feature section */
    .discover_section h2 {
        font-size: 20px;
    }

    .discovered_feature svg {
        width: 30px;
    }

    /* More details about services */

    #vc_actual_secondary_image_1 {
        top: -30px;
        bottom: 0;
        right: 10px;
    }

    #vc_details_1 p {
        margin-bottom: 45px;
    }

    .vc_btn_section {
        padding-left: 0;
        justify-content: center;
    }

    .vc_action_btn {
        font-size: 15px;
    }

    .vc_action_btn svg {
        width: 24px;
    }

    /* Scroll animation */

    .secondary_1_image_hidden {
        transition: 0.2s ease-in-out;
        transition-delay: 1000ms;
    }
    
}

/* Width max=430px */
@media screen and (max-width: 440px){
    /* Discover feature section */
    .discover_section h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .discovered_feature svg {
        width: 28px;
    }

    /* More details about services */

    #vc_actual_secondary_image_1,#vc_actual_secondary_image_2 {
        top: -30px;
        bottom: 0;
        right: 10px;
        width: 240px;
    }

    #vc_actual_secondary_image_2 {
        top: -20px;
    }

    #vc_actual_secondary_image_3 {
        top: -10px;
    }

    #vc_details_1 p,#vc_details_2 p,#vc_details_3 p,#vc_details_4 p {
        margin-bottom: 65px;
    }

    #vc_actual_secondary_2_image_1 {
        display: none;
    }

    #vc_actual_main_image_img_4 {
        visibility: hidden;
    }
    
    #vc_actual_secondary_image_4 {
        top: 0;
    }

    #vc_actual_secondary_2_image_2 {
        top: 80px;
    }

    #vc_actual_main_image_4 {
        border: none;
    }

    /* Welcome aboard */
    .welcome_aboard_animation {
        padding: 30px;
    }
    
}

/* Width max=400px */
@media screen and (max-width: 400px){
    /* Hero word section */
    .hero_word_section h1 {
        font-size: 25px;
    }

    .extra_images_mobile {
        height: 90px;
    }

    .extra_image_mobile {
        width: 90px;
        height: 90px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 20px;
    }

    /* Discover feature section */
    .discover_section h2 {
        font-size: 19px;
    }

    .discovered_feature span {
        font-size: 17px;
    }

    .discovered_feature svg {
        width: 26px;
    }

    /* More details about services */

    #vc_actual_secondary_image_1, #vc_actual_secondary_image_2 {
        width: 220px;
    }

    #vc_details_4 p {
        margin-bottom: 45px;
    }

    /* Welcome aboard */
    .welcome_aboard_animation {
        padding: 20px;
    }
    
}

/* Width max=300px */
@media screen and (max-width: 330px){
    /* Hero word section */
    .hero_word_section h1 {
        font-size: 20px;
    }

    .hero_word_section p {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .extra_images_mobile {
        height: 80px;
    }

    .extra_image_mobile {
        width: 80px;
        height: 80px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 10px;
    }

    /* More details about services */
    #vc_actual_secondary_image_1, #vc_actual_secondary_image_2, #vc_actual_secondary_image_3, #vc_actual_secondary_image_4 {
        width: 200px;
    }

    #vc_actual_secondary_2_image_2 {
        width: 120px;
        top: 50px;
    }

    /* Welcome aboard */
    .welcome_aboard_animation {
        padding: 10px;
    }

    .aboard_list_item p {
        padding-right: 10px;
    }

}

/* Width max=300px */
@media screen and (max-width: 300px){
    /* Hero word section */

    .extra_images_mobile {
        height: 70px;
    }

    .extra_image_mobile {
        width: 70px;
        height: 70px;
    }

    .hero_cta_btn {
        font-size: 14px;
    }

    /* Hero animation section */
    .hero_animation_section {
        padding: 10px;
    }

    /* Discover feature section */
    .discover_section h2 {
        font-size: 18px;
    }

    .discovered_feature {
        height: 100px;
    }

    .discovered_feature span {
        font-size: 15px;
    }

    .discovered_feature svg {
        width: 24px;
    }

    /* More details about services */
    .vc_details {
        font-size: 15px;
    }

    .vc_action_btn {
        font-size: 14px;
        padding: 10px;
    }

    .vc_action_btn svg {
        width: 22px;
        margin-left: 10px;
    }

    #vc_actual_secondary_image_1, #vc_actual_secondary_image_2, #vc_actual_secondary_image_3, #vc_actual_secondary_image_4 {
        width: 185px;
    }

    /* Welcome aboard */ 
    
    .aboard_list_item p {
        font-size: 15px;
        padding-right: 10px;
    }
    
    .end_hero {
        font-size: 14px;
        padding: 10px;
    }

    .end_hero svg {
        width: 22px;
        margin-left: 10px;
    }
}
