/* The profile container */
.profile_container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#profile_form {
    display: none;
}

/* Message popups */
.message_popup {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    display: none; /* Flex to change pop ups */
    align-items: center;
    justify-content: space-between;
    color: #414141;
    z-index: 4;
}

.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.message_pop_icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
} 

/* Success */
#message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}

#message_popup_success .message_pop_icon {
    background-color: #2CA631;
}

/* Failed */
#message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}

#message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}


.inner_profile_section {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Update profile and details section */
.update_profile_and_details_section {
    width: 500px;
    min-height: 300px;
}

/* Profile picture section */
.profile_image_and_details_section {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Profile pic section */
.profile_image {
    width: 170px;
    height: 210px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* Image display */
.display_image_section {
    width: 150px;
    height: 150px;
}

.display_image_section img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.display_image_section_no_profile_picture {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #F3F3F3;
    font-size: 34px;
    font-weight: 500;
}

/* Image setting buttons */
.settings_image_section {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.image_set_btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F3F3F3;
    fill: #414141;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.image_set_btn:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
}

.image_set_btn:nth-child(2):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
}

.image_set_btn svg {
    width: 21px;
}

/* Remove Profile convo box */
.remove_profile_pic_convo {
    position: absolute;
    top: 5px;
    left: calc(100% - 20px);
    width: 200px;
    height: 80px;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    border-top-left-radius: 0px;
    font-size: 14px;
    color: #414141;
}

.remove_pic_choice {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove_profile_pic_choice {
    width: max-content;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3F3F3;
    fill: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.remove_profile_pic_choice:nth-child(1):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.remove_profile_pic_choice:nth-child(2):hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.remove_pic_choice svg {
    width: 18px;
    margin: 6px;
}

/* View user detail */
.user_detail_view_section {
    width: calc(100% - 170px);
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user_detail_view {
    width: calc(100% - 10px);
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.single_detail_view {
    width: calc(100% - 20px);
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sing_det_icon {
    width: 40px;
    height: 40px;
    background-color: #414141;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sing_det_icon svg {
    width: 18px;
}

.sing_det_detail {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    color: #414141;
    font-size: 16px;
    font-weight: 500;
}

/* Bio section */
.bio_section {
    width: 100%;
    height: max-content;
}

/* Read bio section */
.read_the_bio {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex; /* To show the read bio section */
    align-items: center;
    justify-content: center;
}

.inner_read_bio {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #F3F3F3;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    overflow-y: auto;
}

.enable_bio_edit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #414141;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.enable_bio_edit:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
}

.enable_bio_edit svg {
    width: 21px;
}

/* Edit bio section */
.edit_the_bio {
    height: 200px;
    width: 100%;
    display: none; /* To show bio editor */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.bio_text_edit {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio_text_edit textarea {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: none;
    outline: none;
    resize: none;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    background-color: #F3F3F3;
}

/* save and discard bio */
.save_discard_bio_edit {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.bio_edit_btn {
    height: 40px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    fill: #414141;
    color: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.bio_edit_btn:nth-child(1):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.bio_edit_btn:nth-child(2):hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.bio_edit_btn svg {
    width: 21px;
    margin: 0px 5px;
}


/* All details edit section */
.all_detail_section {
    width: 100%;
    min-height: 200px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_detail_edit {
    min-height: 260px;
    height: max-content;
    width: 100%;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* One detail input section */
.one_edit_all_sec {
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.one_edit_icon {
    width: 40px;
    height: 40px;
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F3F3F3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.one_edit_icon svg {
    width: 18px;
}

.one_edit_all_sec input {
    width: calc(100% - 50px);
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
}

/* Save or discard all details*/
.save_discard_all_dets {
    width: 100%;
    height: 50px;
    display: none; /* show details buttons */
    align-items: flex-start;
    justify-content: flex-end;
}

/* all detail btns */
.all_detail_btn {
    height: 40px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    fill: #414141;
    color: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.all_detail_btn:nth-child(1):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.all_detail_btn:nth-child(2):hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.all_detail_btn svg {
    width: 21px;
    margin: 0px 5px;
}


/* Select new profile picture */
.select_profile_pic_section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; /* To show the select profile picture section */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.inner_profile_select {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Profile picture and instructions */
.profile_pic_and_instruct {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_profile_image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.new_profile_image img {
    display: none;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    object-fit: cover;
}

.new_profile_image_no_pic {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #F3F3F3;
    font-size: 34px;
    font-weight: 500;
}

/* Instruction section */
.prof_img_instruct {
    width: calc(100% - 210px);
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile_img_head_body {
    width: 100%;
    height: max-content;
}

.prof_img_inst_head {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    fill: #414141;
    color: #414141;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.prof_img_inst_head svg {
    width: 21px;
    margin-left: 10px;
    margin-right: 10px;
}

.prof_img_inst_body {
    width: 100%;
    height: max-content;
    padding: 10px;
    padding-left: 40px;
    background-color: #F3F3F3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prof_img_inst_body p {
    margin-bottom: 10px;
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* The discard, save, select profile picture */
.select_discard_save_image {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.prof_select_btn {
    height: 40px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    fill: #414141;
    color: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#profile_pic_input {
    display: none;
}

.prof_select_btn:nth-child(2):hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.prof_select_btn:nth-child(3),.prof_select_btn:nth-child(4) {
    display: none;

}

.prof_select_btn:nth-child(3):hover,.prof_select_btn:nth-child(5):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.prof_select_btn:nth-child(4):hover {
    background-color: #406CEE;
    fill: #F3F3F3;
    color: #F3F3F3;
}

.prof_select_btn svg {
    width: 21px;
    margin: 0px 5px;
}

#update_spinner {
    display: none;
    width: 30px;
    height: 30px;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top-color: #414141;
    animation: spin 0.5s linear infinite;
}

#remove_profile_spinner {
    display: none;
    width: 25px;
    height: 25px;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top-color: #414141;
    animation: spin 0.5s linear infinite;
}
  
#update_bio_spinner{
    display: none;
    width: 25px;
    height: 25px;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top-color: #414141;
    animation: spin 0.5s linear infinite;
}

#update_detail_spinner{
    display: none;
    width: 25px;
    height: 25px;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top-color: #414141;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/* Respomsiveness */

/* max height = 610 */
@media screen and (max-height: 620px){
    /* Profile chnage biggest section */
    .inner_profile_section {
        height: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Max width = 635 */
@media screen and (max-width: 635px){

    /* Select profile picture section */
    .select_profile_pic_section {
        justify-content: center;
        align-items: flex-start;
    }

    .inner_profile_select {
        height: max-content;
    }

    .profile_pic_and_instruct {
        height: max-content;
        flex-direction: column;
        padding-top: 10px;
    }

    .new_profile_image {
        width: 300px;
        height: 300px;
    }

    .prof_img_instruct {
        width: 400px;
        margin-top: 10px;
    }

}

/* Max width = 540 */
@media screen and (max-width: 540px){

    /* Lower section */
    .lower-section {
        height: max-content !important;
    }

    /* Message pop ups */
    .message_popup {
        top: 0;
        right: 10px;
        max-width: calc(100% - 20px);
    }

    .message_pop_icon {
        min-width: 35px;
        height: 35px;
    }

    .message_pop_icon svg {
        width: 17px;
    }

    .message_popup span {
        font-size: 15px;
    }

    /* Profile and see details section */
    .profile_image_and_details_section {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
    } 

    /* Image select section */
    .profile_image {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
    }

    /* Remove profile picture */
    .remove_profile_pic_convo {
        width: 170px;
        height: 70px;
        left: calc(100% - 70px);
        font-size: 13px;
    }

    .remove_pic_choice {
        height: 30px;
    }

    .remove_pic_choice svg {
        width: 16px;
    }

    #remove_profile_spinner {
        width: 20px;
        height: 20px;
    }

    .display_image_section {
        width: 250px;
        height: 250px;
    }

    .user_detail_view_section {
        justify-content: center;
        width: 100%;
    }

    .user_detail_view {
        width: 100%;
    }

    /* All details section */
    .all_detail_section {
        padding-bottom: 10px;
    }

}

/* max width = 500 */
@media screen and (max-width: 500px){

    /* Remove profile picture */
    .remove_profile_pic_convo {
        width: 150px;
        height: 60px;
        left: calc(100% - 70px);
        font-size: 12px;
    }

    .remove_pic_choice {
        height: 25px;
    }

    .remove_pic_choice svg {
        width: 14px;
    }

    /* User details view setion */
    .user_detail_view_section {
        justify-content: center;
        width: 100%;
    }

    /* Bio section */
    .bio_section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .read_the_bio,.edit_the_bio {
        width: calc(100% - 20px);
    }

    .user_detail_view {
        width: calc(100% - 20px);
    }

    /* All details section */
    .all_detail_edit {
        width: calc(100% - 20px);
    }

}

/*  max width = 440 */
@media screen and (max-width: 440px){
    /* Remove profile picture */
    .remove_profile_pic_convo {
        left: calc(100% - 110px);
        top: 100%;
    }

    /* Select new profile picture */
    .prof_img_instruct {
        width: 390px;
    }
}

/* max width = 420 */
@media screen and (max-width: 420px){

    /* Select new profile picture */
    .prof_img_instruct {
        width: 380px;
    }
}

/* max width = 395 */
@media screen and (max-width: 395px){

    /* Remove profile picture */
    .remove_profile_pic_convo {
      left: calc(100% - 130px);
    }

    /* User view details */
    .sing_det_detail {
        font-size: 15px;
    }

    /* Bio section */
    .inner_read_bio,.bio_text_edit textarea {
        font-size: 15px;
    }

    .save_discard_bio_edit,.save_discard_all_dets {
        height: 45px;
    }

    .bio_edit_btn,.all_detail_btn {
        font-size: 14px;
        height: 35px;
    }

    .bio_edit_btn svg,.all_detail_btn svg {
        width: 19px;
    }

    /* All details section */
    .one_edit_all_sec input {
        font-size: 15px;
    }

    /* Select new profile picture */
    .prof_img_instruct {
        width: 350px;
    }

    .select_discard_save_image {
        min-height: 60px;
        margin-top: 10px;
    }

}

/* max width=365 */
@media screen and (max-width: 365px){
   /* Select new profile picture */
   .prof_img_instruct {
        width: 325px;
    }
    
    .prof_select_btn {
        font-size: 14px;
    }

    .prof_select_btn svg {
        width: 20px;
    }
}

/* max width = 330 */
@media screen and (max-width: 330px){
    /* Profile image */
    .profile_image {
        width: 280px;
    }

    .remove_profile_pic_convo {
        left: calc(100% - 150px);
    }

    /* view details section */
    .sing_det_detail {
        font-size: 14px;
    }

    /* Bio section */
    .inner_read_bio, .bio_text_edit textarea {
        font-size: 14px;
    }

    /* All details section */
    .one_edit_all_sec input {
        font-size: 14px;
    }

    /* Select new profile picture */
    .new_profile_image {
        width: 280px;
        height: 280px;
    }

    .prof_img_instruct {
        width: 280px;
    }

    .prof_img_inst_head {
        font-size: 15px;
    }

    .prof_img_inst_body p {
        font-size: 15px;
    }

    .select_discard_save_image {
        min-height: max-content;
        height: max-content;
        flex-wrap: wrap;
    }

    .prof_select_btn {
        margin: 10px;
    }


}

/* max width = 300 */
@media screen and (max-width: 300px){
    /* Profile image */
    .profile_image {
        width: 240px;
    }

    .display_image_section {
        width: 220px;
        height: 220px;
    }

    /* Remove profile picture */
    .remove_profile_pic_convo {
        left: calc(100% - 150px);
    }

    /* view details section */
    .sing_det_detail {
        font-size: 13px;
    }

    /* Bio section */
    .inner_read_bio, .bio_text_edit textarea {
        font-size: 13px;
    }

    /* All details section */
    .one_edit_all_sec input {
        font-size: 13px;
    }

    /* Select new profile picture */
    .new_profile_image {
        width: 240px;
        height: 240px;
    }

    .prof_img_instruct {
        width: 240px;
    }

    .prof_img_inst_head {
        font-size: 14px;
    }

    .prof_img_inst_body p {
        font-size: 14px;
    }

}