/* The profile container */
.profile_container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.inner_profile_section {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Update profile and details section */
.update_profile_and_details_section {
    width: 500px;
    min-height: 300px;
    background-color: brown;
}

/* Profile picture section */
.profile_image_and_details_section {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Profile pic section */
.profile_image {
    width: 170px;
    height: 210px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* Image display */
.display_image_section {
    width: 150px;
    height: 150px;
}

.display_image_section img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Image setting buttons */
.settings_image_section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.image_set_btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F3F3F3;
    fill: #414141;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.image_set_btn:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
}

.image_set_btn:nth-child(2):hover {
    background-color: #C53B3B;
    fill: #F3F3F3;
}

.image_set_btn svg {
    width: 21px;
}

/* View user detail */
.user_detail_view_section {
    width: calc(100% - 170px);
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user_detail_view {
    width: calc(100% - 10px);
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.single_detail_view {
    width: calc(100% - 20px);
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sing_det_icon {
    width: 40px;
    height: 40px;
    background-color: #414141;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sing_det_icon svg {
    width: 18px;
}

.sing_det_detail {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    color: #414141;
    font-size: 16px;
    font-weight: 500;
}

/* Bio section */
.bio_section {
    width: 100%;
    height: max-content;
    background-color: blue;
}
.read_the_bio,.edit_the_bio {
    width: 100%;
    height: 150px;
}

/* Read bio section */
.read_the_bio {
    position: relative;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_read_bio {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #F3F3F3;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    overflow-y: auto;
}

.enable_bio_edit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #414141;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.enable_bio_edit:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
}

.enable_bio_edit svg {
    width: 21px;
}