/* The container that contains all the safes and filter option */
.safes-section {
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    border-radius: 10px;
    background-color: #F3F3F3;
}

/* The search-and-buttons */

.search-and-buttons {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The search */
.search-section {
    width: 50%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-part {
    width: 500px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    border: 2px solid #414141;
    border-radius: 10px;
}

.search-part svg {
    fill: #414141;
}

/* The search input */
#search-safe-input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    padding-left: 10px;
    background: none;
    color: #406CEE;
    font-size: 16px;
}

#search-safe-input::placeholder {
    color: #414141;
}

/* The filters and New Safe Section */
.filters-and-new-safe {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

/* The filet buttons */
.filter_btn {
    width: max-content;
    height: 45px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #414141;
    background-color: #D9D9D9;
    font-weight: 500;
}

.filter_btn svg {
    width: 25px;
    fill: #414141;
    margin-left: 15px;
}

/* New safe btn */
.new-safe {
    background-color: #414141;
    color: #D9D9D9;
}

.new-safe svg {
    fill: #D9D9D9;
}


/* The separation line */
.separation-line {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.separation-line div {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #ACACAC;
}


/* All the safes section */

.list-of-safes {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* A Single safe */

.single-safe {
    width: calc(100% - 40px);
    height: 150px;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The safe ame and state */
.safe-name-state-stars-watchers {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.safe-name-state {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.safe-name-state h2 {
    color: #406CEE;
    font-size: 21px;
    margin-right: 10px;
}

/* The safe state */

.safe-state {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.safe-state svg {
    width: 20px;
    fill: #406CEE;
}


/* The watchers and stars section */

.stars-watchers-section {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stats-view {
    width: max-content;
    height: 45px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #406CEE;
    fill: #406CEE;
    font-size: 18px;
    font-weight: 500;
}

.stats-view svg {
    width: 20px;
    margin-right: 10px;
}

/* About safe section */

.about-safe {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: #8F8F8F;
}

/* The Safes Languages and Last Commite time */
.langs-section {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Commit and langs */

.langs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* The safe languages */

.safe-langs {
    width:fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The individual Safe langauge */

.ind-safe-lang {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-right: 10px;
}

.ind-safe-lang img {
    width: 100%;
    height: 100%;
}

/* Commit time */

.scheduled-commit {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.commit-time {
    width: fit-content;
    height: 45px;
    padding: 20px;
    background-color: white;
    fill: #406CEE;
    color: #406CEE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.commit-time svg {
    width: 23px;
    margin-right: 10px;
}