{% extends 'Inherit/upper-nav.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/Css/Editor/create_safe.css' %}">
    <title>CodePinion ::- New Safe</title>
{% endblock %}

{% block lower_section %}

    <div id="alert_section">
    </div>

    <div class="creation_section">
        <div class="create_form">

            <div class="heading_and_headDetails">
                <h3>Create a new safe</h3>
                <span>A Safe contains all project files.</span>
            </div>

            <form>
                {% csrf_token %}
            </form>

            <div class="select_account_add_safe_name">
                <div class="select_account">
                    <span class="acc-label" >Account*</span>
                    <div class="account-drop-down" id="account-drop-down">
                        <div class="account-select" id="account-select">
                            <div class="account-dot-loader" id="account-dot-loader">
                                <div class="dot-loader"></div>
                                <div class="dot-loader"></div>
                                <div class="dot-loader"></div>
                            </div>
                        </div>
                        <div class="account-options" id="account-options">
                            <div class="account-search-and-close">
                                <input type="text" placeholder="Filter Account" id="filter-accounts-inputs">
                                <div id="close-account-list">
                                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
                                </div>
                            </div>
                            <div class="retreaved-account-list" id="retreaved-account-list">
                                <div class="retreaved-account-list-loader" id="retreaved-account-list-loader">
                                    <div class="account-in-list-skeleton-loader"></div>
                                    <div class="account-in-list-skeleton-loader"></div>
                                </div>
                                <!-- <div class="individual-account-from-list the-account-selected">
                                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56" fill-rule="nonzero"/></svg>
                                    <div class="account-image-or-inits">
                                        <span>A</span>
                                    </div>
                                    <span>Alex Meta</span>
                                </div>
                                <div class="individual-account-from-list">
                                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56" fill-rule="nonzero"/></svg>
                                    <div class="account-image-or-inits">
                                        <span>A</span>
                                    </div>
                                    <span>Alex Meta Alex Meta</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="the-separator">
                    <div></div>
                </div>
                <div class="safe-name-section">
                    <span class="acc-label" >Safe Name*</span>
                    <input type="text" class="safe-name-input" >
                </div>
            </div>

            <div class="description-section">
                <span class="inspiration">Keep You Safe Name Short And Memorable. Some inspiration? How about <p>turbo-bassoon</p>?</span>
                <span class="Description" >Description<p>(Optional)</p></span>
                <input type="text" class="description-input" >
            </div>

            <div class="private-or-public">
                <div class="private">
                    <div class="check-and-name">
                        <div class="check-click" id="check-click-public">
                            <div></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M352 144c0-44.2 35.8-80 80-80s80 35.8 80 80v48c0 17.7 14.3 32 32 32s32-14.3 32-32V144C576 64.5 511.5 0 432 0S288 64.5 288 144v48H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H352V144z"/></svg>
                        <span class="pp-name">Public</span>
                    </div>
                    <span class="elaborate-choice" >Anyone On The Internet Can See This Safe. You Choose Who Can Commit.
                    </span>
                </div>
                <div class="private">
                    <div class="check-and-name">
                        <div class="check-click" id="check-click-private">
                            <div></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                        <span class="pp-name">Private</span>
                    </div>
                    <span class="elaborate-choice" >You Choose Who Can See And Commit To This Safe.</span>
                </div>
            </div>

            <div class="new-safe-privacy">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 8c-.414 0-.75.336-.75.75v5.5c0 .414.336.75.75.75s.75-.336.75-.75v-5.5c0-.414-.336-.75-.75-.75zm-.002-3c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z" fill-rule="nonzero"/></svg>
                <span id="change-on-change" >...</span>
            </div>

            <div class="create-safe-section">
                <div class="create-safe-btn">
                    <span>Create Safe</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H192c20.1 0 39.1 9.5 51.2 25.6l19.2 25.6c6 8.1 15.5 12.8 25.6 12.8H448c35.3 0 64 28.7 64 64V416zM232 376c0 13.3 10.7 24 24 24s24-10.7 24-24V312h64c13.3 0 24-10.7 24-24s-10.7-24-24-24H280V200c0-13.3-10.7-24-24-24s-24 10.7-24 24v64H168c-13.3 0-24 10.7-24 24s10.7 24 24 24h64v64z"/></svg>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 

{% block javaS %}
<script type="module" src="{% static 'Js/Safe/NewSafe/newSafe.js' %}"></script>
{% endblock %}