/* The demo section */
.editor_body {
    position: relative;
}

.demo_intro_body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

/* The intro section */
.demo_intro {
    width: 800px;
    height: max-content;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 30px;
}

/* Contain all the data */
.demo_intro_data {
    width: 700px;
    height: 100%;
}

/* Close intro */
.close_intro {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close_intro_btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.close_intro_btn:hover {
    background-color: #C53B3B;
}

.close_intro_btn svg {
    width: 30px;
    fill: #F3F3F3;
}

/* Welcome message */
.demo_welcome_mess {
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.demo_welcome_mess p {
    color: #414141;
}

.demo_welcome_mess span {
    color: #406CEE;
    margin: 6px;
}

/* Welcome Confetti */
.demo_confetti {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.demo_confetti img {
    width: 100%;
    height: 100%;
}

/* Welcome more message */
.demo_more_mess {
    width: 100%;
    height: 60px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #414141;
}

/* Demo features */
.demo_features,.demo_need {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.demo_features span,.demo_need span {
    font-size: 18px;
    font-weight: 600;
    color: #414141;
}

.demo_feature_img,.demo_need_img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}   

.demo_feature_img img,.demo_need_img img {
    width: 100%;
    height: 100%;
}

/* Demo list */
.demo_list {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.demo_list_item {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #414141;
}

.demo_list_item p {
    width: 90%;
}

.demo_list_item_dot {
    min-width: 10px;
    min-height: 10px;
    margin-top: 5px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #406CEE;
}

/* The demo thanks section */
.demo_thanks {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #2CA631;
    font-size: 17px;
    font-weight: 500;
}

/* Proceed button */
.proceed_to_demo_sec {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    font-size: 17px;
    font-weight: 500;
}

.proceed_to_demo_btn {
    width: 260px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.proceed_to_demo_btn:hover {
    background-color: #406CEE;
}

.proceed_to_demo_btn svg {
    width: 35px;
}