/* The demo section */
.editor_body {
    position: relative;
}

.message_popup {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    display: none; /* Flex to change pop ups */
    align-items: center;
    justify-content: space-between;
    color: #414141;
}

.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.message_pop_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
} 

/* Success */
#message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}

#message_popup_success .message_pop_icon {
    background-color: #2CA631;
}

/* Failed */
#message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}

#message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}

/* The intro body */
.demo_intro_body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: none; /* Flex to display demo */
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

/* The intro section */
.demo_intro {
    width: 800px;
    height: max-content;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 30px;
}

/* Contain all the data */
.demo_intro_data {
    width: 700px;
    height: 100%;
}

/* Close intro */
.close_intro {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close_intro_btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.close_intro_btn:hover {
    background-color: #C53B3B;
}

.close_intro_btn svg {
    width: 30px;
    fill: #F3F3F3;
}

/* Welcome message */
.demo_welcome_mess {
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.demo_welcome_mess p {
    color: #414141;
}

.demo_welcome_mess span {
    color: #406CEE;
    margin: 6px;
}

/* Welcome Confetti */
.demo_confetti {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.demo_confetti img {
    width: 100%;
    height: 100%;
}

/* Welcome more message */
.demo_more_mess {
    width: 100%;
    height: 60px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #414141;
}

/* Demo features */
.demo_features,.demo_need {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.demo_features span,.demo_need span {
    font-size: 18px;
    font-weight: 600;
    color: #414141;
}

.demo_feature_img,.demo_need_img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}   

.demo_feature_img img,.demo_need_img img {
    width: 100%;
    height: 100%;
}

/* Demo list */
.demo_list {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.demo_list_item {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #414141;
}

.demo_list_item p {
    width: 90%;
}

.demo_list_item_dot {
    min-width: 10px;
    min-height: 10px;
    margin-top: 5px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #406CEE;
}

/* The demo thanks section */
.demo_thanks {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #2CA631;
    font-size: 17px;
    font-weight: 500;
}

/* Proceed button */
.proceed_to_demo_sec {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    font-size: 17px;
    font-weight: 500;
}

.proceed_to_demo_btn {
    width: 260px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.proceed_to_demo_btn:hover {
    background-color: #406CEE;
}

.proceed_to_demo_btn svg {
    width: 35px;
}

/* See all bugs section Animation */
.skeleton_animation {
    animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
    0% {
        background-color: #F3F3F3;
    }
    100% {
        background-color: #D9D9D9;
    }
}

.skele_id {
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.skele_title {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

.skeleton_user_image {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 10px;
}

.skeleton_user_name {
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.skele_date {
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.skele_access_edit_btn {
    width: 35px;
    height: 35px;
    border-radius: 7px;
}

.skele_access_edit_btn:nth-child(1){
    margin-right: 10px;
}

/* See all bugs section */
.see_all_bugs_section {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: none; /* Flex to display view bugs */
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.all_bugs_section {
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Close bugs and details */
.details_close_bug_view {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view_status_and_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* View Bug details */
.view_status_section {
    height: 40px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 3px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.view_status_pending {
    color: #C53B3B;
    fill: #C53B3B;
}

.view_status_fixed {
    color: #2CA631;
    fill: #2CA631;
}

.view_status_section svg {
    width: 26px;
}

.view_status_section p {
    font-size: 17px;
    font-weight: 500;
    margin: 15px;
}

/* The bug count */
.view_status_count {
    width: max-content;
    min-width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F3F3F3;
}

.view_status_count span {
    font-weight: 500;
    font-size: 16px;
}

/* Filter bugs */
.filter_bugs_from_status {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in-out;
    cursor: pointer
}

.filter_bugs_from_status:hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.filter_bugs_from_status span {
    font-size: 17px;
    font-weight: 500;
}

.filter_bugs_from_status svg {
    width: 20px;
}

/* Close view bug */
.close_bug_view {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.close_bug_view:hover {
    background-color: #C53B3B;
}

.close_bug_view svg {
    width: 30px;
    fill: #F3F3F3;
}

/* The view bug table */
.view_bugs_table {
    width: 100%;
    height: calc(100% - 60px);
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
}

/* When table is empty */
.when_bug_table_is_empty {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.when_bug_table_is_empty svg {
    width: 700px;
}

table {
    width: calc(100% - 20px);
    border-collapse: collapse;
}

td, th {
    text-align: start;
    padding: 8px;
}

th {
    color: #414141;
    border-bottom: 1px solid #8F8F8F;
}

tr {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

tr:hover {
    color: #406CEE;
    background-color: #F3F3F3;
}

/* Inside the view bug table */
.bug_owner_image_name,.access_edit_bug_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* bug owner image */
.bug_owner_image,.bug_owner_noimage,.bug_owner_admin {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #414141;
}

/* User without profile image and admin */
.bug_owner_noimage,.bug_owner_admin {
    display: flex; /* Dispay the user witout image and admin */
    align-items: center;
    justify-content: center;
    fill: #F3F3F3;
    color: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.bug_owner_noimage:hover,.bug_owner_admin:hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.bug_owner_noimage span {
    font-size: 17px;
    font-weight: 500;
}

.bug_owner_admin svg {
    width: 25px;
}

.bug_owner_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Edit and access bug details */

.access_edit_btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #414141;
    fill: #F3F3F3;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.access_edit_btn:nth-child(1){
    margin-right: 10px;
}

.access_edit_btn:hover {
    background-color: #406CEE;
    fill: #D9D9D9;
}

.access_edit_btn svg {
    width: 20px;
    pointer-events: none;
}



/* See one bug section*/
.see_one_bug_section {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: none; /* Flex to display view bug */
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.one_bug_section {
    width: 800px;
    height: calc(100vh - 40px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.one_details_and_close {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Details */
.one_details_user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one_detail_id {
    height: 40px;
    width: max-content;
    min-width: 40px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    color: #F3F3F3;
}

.one_detail_id span {
    font-size: 16px;
    font-weight: 500;
}

.one_detail_status {
    height: 40px;
    width: max-content;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.one_detail_status_pending {
    color: #C53B3B;
    fill: #C53B3B;
}

.one_detail_status span {
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}

.one_detail_status svg {
    width: 26px;
}

.one_detail_userimage,.one_detail_user_noimage,.one_detail_admin {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.one_detail_userimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.one_detail_user_noimage,.one_detail_admin {
    display: none;
}

.one_detail_user_noimage:hover,.one_detail_admin:hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.one_detail_user_noimage span {
    font-size: 17px;
    font-weight: 500;
}

.one_detail_admin svg {
    width: 25px;
}

.one_detail_date {
    font-size: 16px;
    font-weight: 500;
    color: #414141;
}

/* Close one view details */
.one_details_close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.one_details_close:hover {
    background-color: #C53B3B;
}

.one_details_close svg {
    width: 30px;
    fill: #F3F3F3;
}

/* The bug self section */
.the_bug_self_section {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bug_title_detail {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #F3F3F3;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bug_title_detail p {
    font-size: 17px;
    font-weight: 500;
}

.bug_screenshot {
    width: calc(100% - 20px);
    height: 340px;
    border-radius: 10px;
    border: 1px solid #B5B5B5;
}

.bug_screenshot img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
}

.bug_body_details {
    width: calc(100% - 20px);
    height: 340px;
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 10px;
    color: #414141;
    overflow-y: auto;
}

.bug_editor {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    fill: #414141;
    color: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out
}

.bug_editor:hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9
}

.bug_editor span {
    font-size: 17px;
    font-weight: 500;
}

.bug_editor svg {
    width: 27px;
}



/* The Demo Navigation */
.demo_navigation {
    font-family: 'Roboto', sans-serif;
    width: 700px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

/* The language icon */
.demo_lang_img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.demo_lang_img img {
    width: 100%;
    height: 100%;
}

/* The bug menu */
.bug_menu {
    display: flex;
}

.bug_min_menu {
    width: max-content;
    height: 45px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 10px;
    fill: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.bug_min_menu:hover:nth-child(1){
    background-color: #C53B3B;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.bug_min_menu:hover:nth-child(2){
    background-color: #197c1d;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.bug_nums {
    width: max-content;
    height: 35px;
    margin-left: 10px;
    background-color: #414141;
    color: #414141;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bug_nums span {
    font-weight: 500;
    margin: 8px;
    color: #D9D9D9;
}

.bug_min_menu p {
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}

.bug_min_menu svg {
    width: 24px;
}

/* Report Bug Button */
.report_bug_btn {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.report_bug_btn:hover {
    background-color: #C53B3B;
}

.report_bug_btn svg {
    width: 35px;
}

/* Report bug section */
.report_bug_section {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: none; /* Flex to display demo */
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.report_form {
    width: 800px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
}

.report_body {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
}

/* The bug title */
.bug_title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bug_title input {
    width: 100%;
    height: 45px;
    border: 2px solid #414141;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 17px;
}

/* The bug screen shot */
.bug_shot {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #414141;
}

/* The canves section */

/* .canvas_spinner {
    display: none; 
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    border: 4px solid #8F8F8F;
    border-top-color: #406CEE;
    border-radius: 50%;
    animation: canvas_spin 0.4s linear infinite;
  }
  
  @keyframes canvas_spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

.canvas_content {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.retake_screenshot_section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.retake_btn {
    height: 45px;
    width: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #414141;
    fill: #414141;
    font-size: 17px;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.retake_btn:hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.retake_btn svg {
    width: 25px;
}

/* Write and Review */
.write_review {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrr_btn {
    margin-right: 10px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #414141;
    fill: #414141;
    cursor: pointer;
    transition: 0.2s ease;
}

.wrr_btn:hover {
    background-color: #414141;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.wrr_btn svg {
    width: 23px;
}

.wrr_btn_color {
    background-color: #414141;
    color: #D9D9D9;
    fill: #D9D9D9;
}

/* ckeditor section */

/* Review edit text */
.bodyTextReview {
    width: 100%;
    height: 325px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: none; /* Flex to display review */
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #414141;
    color: #414141;
}

.bodyText {
    width: 100%;
    height: max-content;
    border-radius: 10px;
    border: 2px solid #414141;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.options {
    width: 98%;
    height: max-content;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.options button {
    min-width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border-radius: 10px;
    outline: none;
    border: 2px solid #414141;
    fill: #414141;
    color: #414141;
    cursor: pointer;
}

.options svg {
    width: 20px;
}

.options button:hover {
    color: #406CEE;
    fill: #406CEE;
    border: 2px solid #406CEE;
}


/* the editable class */

.richEdit {
    width: 98%;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #414141;
    margin-bottom: 10px;
    outline-color: #406CEE;
    padding: 20px;
    color: #406CEE;
    overflow-x: auto;
}

.richEdit h1,#BodyFill h1 {
    font-size: 29px !important ;
    font-weight: 800;
}

.richEdit h2, #BodyFill h2 {
    font-size: 24px !important ;
    font-weight: 700;
}

.richEdit h3,#BodyFill h3 {
    font-size: 22px !important ;
    font-weight: 600;
}


.richEdit u,#BodyFill u{
    text-decoration: underline;
}

.richEdit strike,#BodyFill strike {
    text-decoration: line-through;
}

.richEdit ul,#BodyFill ul {
    list-style: circle outside;
}

/* report or discard */
.report_discard_section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r_d_btn {
    width: 120px;
    height: 45px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.r_d_btn:nth-child(1):hover {
    background-color: #406CEE;
    color: #D9D9D9;
    fill: #D9D9D9;
}

.r_d_btn:nth-child(2):hover {
    background-color: #C53B3B;
    color: #D9D9D9;
    fill: #D9D9D9;
}


.r_d_btn svg {
    width: 22px;
}
