{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--The favicon icon-->
    <link rel="shortcut icon" href="{% static '/Images/logo1.jpg' type='image/x-icon' %}">

    {% block head %}
    {% endblock %}

    <title>CodePinion ::-</title>

    <!--Roboto From Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    
    <!--Connect To Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Inherit/home.css' %}">


</head>
<body>

    <!--The main body section-->
    <div class="main_at_home">

        <!--Navigation-->
        <div class="navigation_section">

            <!--Navigation Logo-->
            <a class="nav_logo" href="#">
                <div class="nav_logo_img">
                    <img src="{% static '/Images/logo1.jpg' %}" alt="nav_logo">
                </div>
                <h3>CodePinion</h3>
            </a>

            <!--Navigation Actions-->
            <div class="nav_actions">
                <a class="login_action" href=""><span>Login</span></a>
                <a class="free_action" href=""><span>Get Started - It's Free</span></a>
                <!--Responsive navigation trigger-->
                <div class="responsive_nav_trigger">

                    <svg id="mobile_nav_hamb_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path></svg>

                    <svg id="mobile_nav_close_icon" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>

                </div>
            </div>

        </div>

        <!--Home content section-->
        <div class="home_content_section">

        </div>

        <!--Footer-->
        <div class="footer_section">

        </div>

    </div>
    
</body>

{% block javaS %}
{% endblock %}

</html>