.task_butler_search_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border: 1px solid #B5B5B5;
    background-color: #F3F3F3;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.the_planner_heading-present_date_section,.sort_by-suggest_tasks {
    width: 25%;
    height: 100%;
}

.the_planner_heading-present_date_section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.the_planner_heading {
    display: flex;
    fill: #414141;
    color: #414141;
}

.the_planner_heading svg {
    width: 25px;
    margin-right: 10px;
}

.the_planner_heading h2 {
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

#present_date_span {
    font-size: 13px;
    color: #8F8F8F;
    margin-left: 40px;
}

.task_bulter-search_bar_section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_search_bar {
    width: 400px;
    height: 45px;
    border: 2px solid #414141;
    fill: #414141;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s ease-in-out;
}

#search_planner_input {
    height: 100%;
    width: calc(100% - 50px);
    font-size: 14px;
    color: #406CEE;
    background: none;
    border: none;
    outline: none;
}

.the_search_bar:focus-within {
    border: 2px solid #406CEE;
    fill: #406CEE;
}

.the_search_bar svg {
    width: 23px;
    margin: 10px;
}

.sort_by-suggest_tasks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}

.sort_by_section {
    margin-right: 20px;
}

.sort_by-suggest_tasks_sections {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in-out;
}

.sort_by-suggest_tasks_sections:hover {
    background-color: #dcdcdc;
    color: #406CEE;
    fill: #406CEE;
}

.sort_by-suggest_tasks_sections svg{
    width: 12px;
    margin-right: 5px;
}