.task_butler_search_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border: 1px solid #B5B5B5;
    background-color: #F3F3F3;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.the_planner_heading-present_date_section,.sort_by-suggest_tasks {
    width: 25%;
    height: 100%;
}

.the_planner_heading-present_date_section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.the_planner_heading {
    display: flex;
    fill: #414141;
    color: #414141;
}

.the_planner_heading svg {
    width: 25px;
    margin-right: 10px;
}

.the_planner_heading h2 {
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

#present_date_span {
    font-size: 13px;
    color: #8F8F8F;
    margin-left: 40px;
}

.task_bulter-search_bar_section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_search_bar {
    width: 400px;
    height: 45px;
    border: 2px solid #8F8F8F;
    fill: #8F8F8F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s ease-in-out;
}

#search_planner_input {
    height: 100%;
    width: calc(100% - 50px);
    font-size: 14px;
    color: #406CEE;
    background: none;
    border: none;
    outline: none;
}

.the_search_bar:focus-within {
    border: 2px solid #406CEE;
    fill: #406CEE;
}

.the_search_bar svg {
    width: 23px;
    margin: 10px;
}

.sort_by-suggest_tasks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}

.sort_by_section {
    margin-right: 20px;
}

.sort_by-suggest_tasks_sections {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in-out;
}

.sort_by-suggest_tasks_sections:hover {
    background-color: #dcdcdc;
    color: #406CEE;
    fill: #406CEE;
}

.sort_by-suggest_tasks_sections svg{
    width: 12px;
    margin-right: 5px;
}

.add_new_butler_section {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 10px;
    border: 1px solid #B5B5B5;
}

.type_objective_input_section,.date_addons_sections {
    width: 100%;
    height: 50%;
}

.type_objective_input_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    fill: #414141;
    transition: 0.2s ease-in-out;
    border-bottom: 1px solid #B5B5B5;
}

.type_objective_input_section svg {
    width: 20px;
    margin-right: 15px;
}

.type_objective_input_section input {
    width: calc(100% - 60px);
    height: 38px;
    background: none;
    outline: none;
    border: none;
    color: #406CEE;
    font-size: 14px;
}

.type_objective_input_section:focus-within {
    fill: #406CEE;
}

.date_addons_sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.date_and_reminder_addons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date_reminder_set_addon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    fill: #414141;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.date_reminder_set_addon:hover {
    background-color: #dcdcdc;
}

.date_reminder_set_addon:focus {
    background-color: #dcdcdc;
}

.date_reminder_set_addon svg {
    width: 15px;
}

.selected_addon_date_view {
    display: none;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: #dcdcdc;
    color: #406CEE;
    font-size: 14px;
}

.date_reminder_set_addon_input {
    width: 0;
    visibility: hidden;
}

.close_selected_addon_date_view {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #414141;
    transition: 0.2s ease-in-out;
}

.close_selected_addon_date_view:hover {
    fill: #C53B3B;
    background-color: #F3F3F3;
}

.selected_addon_date_view svg {
    width: 16px;
}

.added_task_button {
    width: max-content;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    fill: #F3F3F3;
    color: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 10px;
}

.added_task_button:hover {
    background-color: #406CEE;
}

.added_task_button span {
    font-size: 14px;
    margin-right: 10px;
}

.added_task_button svg {
    width: 20px;
}

.list_of_added_objectives_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    background-color: #F3F3F3;
    margin-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #B5B5B5;
}

.individual_added_objective {
    width: calc(100% - 10px);
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.individual_objective_more-Item_name-Button,.individual_objective_dates {
    width: 100%;
    height: 35px;
}

.individual_objective_more-Item_name-Button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.individual_item_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open_individual_item_more_button {
    width: 27px;
    height: 27px;
    margin-right: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.open_individual_item_more_button:hover {
    background-color: #F3F3F3;
    fill: #406CEE;
}

.individual_item_name span {
    font-size: 14px;
    color: #414141;
}

.open_individual_item_more_button svg {
    width: 18px;
}

.individual_item_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.individual_item_buttons div{
    width: 27px;
    height: 27px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    fill: #414141;
}

.individual_item_buttons div svg {
    width: 18px;
}

.individual_item_buttons_edit:hover {
    background-color: #F3F3F3;
    fill: #406CEE;
}

.individual_item_buttons_delete:hover {
    background-color: #F3F3F3;
    fill: #C53B3B;
}

.individual_objective_dates {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
}

.individual_objective_due_remind_date {
    min-width: 27px;
    width: max-content;
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F3F3F3;
    fill: #414141;
}

.individual_objective_due_remind_date svg {
    width: 13px;
}

.individual_objective_due_remind_date span {
    font-size: 13px;
    color: #414141;
    margin-left: 5px;
}

.more_items_in_individual_objective {
    width: 100%;
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
}

.bar_progress_of_individual_objective_section {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bar_progress_of_individual_objective_section span {
    font-size: 14px;
    margin-bottom: 5px;
    color: #406CEE;
    font-weight: 600;
}

.the_bar_loading_container {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #414141;
}

.the_filling_bar_loader {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #406CEE;
}