{% extends 'Inherit/upper-nav.html' %}

{% load static %}

<!--The head tag inherited from upper-nav.html-->
{% block head %}

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/create_safe.css' %}">

    <!--The Page Title-->
    <title>CodePinion ::- Create Safe</title>

{% endblock %}

<!--The lower section-->
{% block lower_section %}

    <!--Creation section-->
    <div class="creation_section">

        <!--The creation form-->
        <div class="create_form">

            <!--Heading and head details-->
            <div class="heading_and_headDetails">

                <h3>Create A New Safe And Project Folder</h3>

                <span>A Safe contains all project files.</span>

            </div>

            <!--Select account and add safe name-->
            <div class="select_account_add_safe_name">

                <!--Select account-->
                <div class="select_account">

                    <span class="acc-label" >Account*</span>

                    <!--Account Drop Down-->
                    <div class="account-drop-down">

                        <!--Account Selected-->
                        <div class="account-select">

                            <!--The account profile-->
                            <div class="account-profile">

                                <img src="{% static 'Images\user.jpg' %}" alt="account-profile">

                            </div>

                            <!--The username-->
                            <span class="username-select" >AlexNdungu</span>

                            <!--Drop icon-->
                            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.843 10.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291 1.002-1.299 3.044-3.945 4.243-5.498z"/></svg>

                        </div>

                    </div>

                </div>

                <!--The separator-->
                <div class="the-separator">

                    <div></div>

                </div>

                <!--Safe name enter section-->
                <div class="safe-name-section">

                    <span class="acc-label" >Safe Name*</span>

                    <input type="text" class="safe-name-input" >

                </div>

            </div>

            <!--Description section-->
            <div class="description-section">

                <span class="inspiration">Keep You Safe Name Short And Memorable. Some inspiration? How about <p>turbo-bassoon?</p></span>

                <span class="Description" >Description<p>(Optional)</p></span>

                <input type="text" class="description-input" >

            </div>
            
        </div>

    </div>

{% endblock %} 