{% extends 'Inherit/upper-nav.html' %}

{% load static %}

<!--The head tag inherited from upper-nav.html-->
{% block head %}

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/create_safe.css' %}">

    <!--The Page Title-->
    <title>CodePinion ::- Create Safe</title>

{% endblock %}

<!--The lower section-->
{% block lower_section %}

    <!--Creation section-->
    <div class="creation_section">

        <!--The creation form-->
        <div class="create_form">

            <!--Heading and head details-->
            <div class="heading_and_headDetails">

                <h3>Create A New Safe And Project Folder</h3>

                <span>A Safe contains all project files.</span>

            </div>
            
        </div>

    </div>

{% endblock %} 