{% extends 'Inherit/upper-nav.html' %}

{% load static %}

<!--The head tag inherited from upper-nav.html-->
{% block head %}

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/create_safe.css' %}">

    <!--The Page Title-->
    <title>CodePinion ::- Create Safe</title>

{% endblock %}

<!--The lower section-->
{% block lower_section %}

    <!--Creation section-->
    <div class="creation_section">

        <!--The creation form-->
        <div class="create_form">

            <!--Heading and head details-->
            <div class="heading_and_headDetails">

                <h3>Create A New Safe And Project Folder</h3>

                <span>A Safe contains all project files.</span>

            </div>

            <!--Select account and add safe name-->
            <div class="select_account_add_safe_name">

                <!--Select account-->
                <div class="select_account">

                    <span class="acc-label" >Account*</span>

                    <!--Account Drop Down-->
                    <div class="account-drop-down">

                        <!--Account Selected-->
                        <div class="account-select">

                            <!--The account profile-->
                            <div class="account-profile">

                                <img src="{% static 'Images\user.jpg' %}" alt="account-profile">

                            </div>

                            <!--The username-->
                            <span class="username-select" >AlexNdungu</span>

                            <!--Drop icon-->
                            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.843 10.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291 1.002-1.299 3.044-3.945 4.243-5.498z"/></svg>

                        </div>

                    </div>

                </div>

                <!--The separator-->
                <div class="the-separator">

                    <div></div>

                </div>

                <!--Safe name enter section-->
                <div class="safe-name-section">

                    <span class="acc-label" >Safe Name*</span>

                    <input type="text" class="safe-name-input" >

                </div>

            </div>

            <!--Description section-->
            <div class="description-section">

                <span class="inspiration">Keep You Safe Name Short And Memorable. Some inspiration? How about <p>turbo-bassoon?</p></span>

                <span class="Description" >Description<p>(Optional)</p></span>

                <input type="text" class="description-input" >

            </div>

            <!--Private or public-->
            <div class="private-or-public">

                <!--Check private-->
                <div class="private">

                    <!--The check and name-->
                    <div class="check-and-name">

                        <!--The checked-->
                        <div class="check-click">

                            <div></div>

                        </div>

                        <!--The lock icon-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>

                        <span class="pp-name" >Private</span>

                    </div>

                    <span class="elaborate-choice" >You choose who can see and commit to this Safe.</span>

                </div>

                <!--Check Public-->
                <div class="private">

                    <!--The check and name-->
                    <div class="check-and-name">

                        <!--The checked-->
                        <div class="check-click">

                            <div></div>

                        </div>

                        <!--The lock icon-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M352 144c0-44.2 35.8-80 80-80s80 35.8 80 80v48c0 17.7 14.3 32 32 32s32-14.3 32-32V144C576 64.5 511.5 0 432 0S288 64.5 288 144v48H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H352V144z"/></svg>

                        <span class="pp-name" >Private</span>

                    </div>

                    <span class="elaborate-choice" >Anyone on the internet can see this Safe. You choose who can commit.
                    </span>

                </div>


            </div>
            
        </div>

    </div>

{% endblock %} 