<!--This page inherits from home.html-->
{% extends 'Inherit/home.html' %}

{% load static %}

<!--The head tag inherited from upper-nav.html-->
{% block head %}

    <title>CodePinion ::- Privacy Policy</title>

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/privacy.css' %}">

{% endblock %}

<!-- Home content section -->
{% block home_content_section %}

<div class="legal_main_section">

    <!--Table of content-->
    <div class="table_of_content_section">

    </div>

    <!--Law section-->
    <div class="law_section">
        
    </div>

</div>

{% endblock %}