{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePinion ::- Create Account</title>

    <!--Roboto From Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    
    <!--Connect To Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Spline-->
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.375/build/spline-viewer.js"></script>

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/signup.css' %}">

</head>
<body>

    <!--The main sign in body-->
    <div class="sign_body">

        <!--The playground-->
        <div class="sign_playGround">

            <spline-viewer loading-anim url="https://prod.spline.design/AhPMQwR-CuL4hzct/scene.splinecode"></spline-viewer>

            <!--<iframe src='https://my.spline.design/untitled-5be5599840d6e7917c6cb5cd18894fcc/' frameborder='0' width='100%' height='100%'></iframe>-->

        </div>

        <!--The sign in form section-->
        <div class="signin_section">

            <!--The inner signin section-->
            <div class="inner_signin_section">

                <!--The actual form-->
                <div class="inner_actual_form">

                    <!--Create account-->
                    <h3>Create An Account</h3>

                    <span>Enter Your Details And Start Managing Your projects Now.</span>

                    <!--Login with google-->
                    <div class="with_google">

                        <img src="{% static '\Images\google.png' %}" alt="google_sign">

                        <span>Continue With Google</span>

                    </div>

                </div>

            </div>

        </div>

    </div>
    
</body>
</html>