.legal_main_section {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.table_of_content_section {
    position: sticky;
    top: 80px;
    margin-right: 20px;
    overflow-y: auto;
    width: 300px;
    height: calc(100vh - 100px);
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    color: #414141;
    padding-bottom: 20px;
}
.table_of_content_section a {
    color: #414141;
}
.table_of_content_section::-webkit-scrollbar {
    display: none;
}
.table_of_content_section {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.table_head {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    color: #414141;
    fill: #414141;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.table_head h2 {
    font-size: 18px;
    font-weight: 600;
}
.table_head svg {
    width: 30px;
    margin-right: 10px;
}
.table_title {
    width: 100%;
    height: max-content;
    padding-left: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.table_title span {
    margin-top: 5px;
    transition: 0.2s ease-in-out;
}
.table_subtitle {
    width: 100%;
    height: max-content;
    padding-left: 23px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.table_subtitle span {
    margin-top: 5px;
    transition: 0.2s ease-in-out;
}
.table_of_content_section span:hover {
    color: #406CEE;
}
.law_section {
    width: 900px;
    min-height: 100vh;
    margin-left: 20px;
    height: max-content;
} 
.law_section a {
    color: #406CEE;
}
.law_heading {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.law_heading h2 {
    font-size: 25px;
    color: #414141;
    font-weight: 600;
}
.effective_date {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #8d8d8d;
    font-weight: 400;
}
.law_intro {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.law_intro p {
    font-size: 20px;
    color: #414141;
    font-weight: 500;
}
.welcome_section {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.welcome_section p {
    font-size: 16px;
    color: #414141;
}
.intro_statement {
    width: 100%;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 20px;
}
.intro_statement p {
    font-size: 16px;
    color: #414141;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
}
.law_mini_heading {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.law_mini_heading p {
    font-size: 17px;
    color: #414141;
    font-weight: 500;
}
.water_mark {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 12px;
}
.water_mark p {
    color: #414141;
}
.water_mark a {
    color: #406CEE;
}
@media only screen and (max-width: 1300px) {
    .law_section {
        width: 800px;
    }
}
@media only screen and (max-width: 1200px) {
    .law_section {
        width: 700px;
    }
}
@media only screen and (max-width: 1100px) {
    .law_section {
        width: 600px;
    }
}
@media only screen and (max-width: 1100px) {
    .legal_main_section {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .table_of_content_section {
        width: calc(100% - 40px);
        height: max-content;
        position: unset;
        margin-right: 0;
        margin-bottom: 60px;
    }
    .law_section {
        width: calc(100% - 40px);
        margin-left: 0;
    }
}
@media only screen and (max-width: 450px) {
    #GDPR,#CalOPPA,#GDPR,#CCPA,#d-n-a-p-f-c-i {
        height: max-content;
    }
}
@media only screen and (max-width: 430px) {
    .welcome_section {
        height: max-content;
    }
    .welcome_section p {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .law_heading h2 {
        font-size: 22px;
    }
    .law_intro p {
        font-size: 18px;
    }
    .welcome_section p,.intro_statement p  {
        font-size: 15px;
    }
}
@media only screen and (max-width: 300px) {
    .law_heading {
        height: max-content;
    }
}