*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.main_at_home {
    width: 100%;
    height: max-content;
}


.navigation_section {
    z-index: 2;
    width: 100%;
    height: 65px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: 0.3s ease-in-out;
}

.nav_on_scroll {
    background-color: #F3F3F3;
}


.nav_logo {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_logo_img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.nav_logo_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.nav_logo h3 {
    font-size: 19px;
    font-weight: 600;
    color: #0A1A61;
}


.nav_actions {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_action {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #D3DBFF;
    border-radius: 10px;
    color: #406CEE;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.login_action:hover {
    transform: scale(1.1);
}

.free_action {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #406CEE;
    border-radius: 10px;
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.free_action:hover {
    transform: scale(1.05);
}


.responsive_nav_trigger {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #414141;
    fill: #414141;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.responsive_nav_trigger svg {
    width: 18px;
}

#mobile_nav_close_icon {
    display: none;
}

.responsive_nav_trigger:hover {
    border: 1px solid #406CEE;
    fill: #406CEE;
}


.mobile_navigation_action {
    position: sticky;
    top: 65px;
    left: 10px;
    display: none;
    width: calc(100% - 20px);
    min-height: 50px;
    height: max-content;
    border-radius: 10px;
    background-color: #F3F3F3;
    padding-top: 10px;
    z-index: 2;
}

.mobile_navigation_action_show {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome_back_mobile,.for_free_mobile {
    width: calc(100% - 20px);
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 15px;
}

.welcome_back_mobile {
    color: #406CEE;
    fill: #406CEE;
    background-color: #D3DBFF;
}

.for_free_mobile {
    color: #F3F3F3;
    fill: #F3F3F3;
    background-color: #406CEE;
}

.welcome_back_mobile svg ,.for_free_mobile svg {
    width: 20px;
}

.mobile_nav_socials {
    width: calc(100% - 20px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_social {
    margin: 16px;
    fill: #828282;
}

.mobile_social svg {
    width: 19px;
}


.mobile_social:nth-child(1):hover {
    fill: #E1306C;
}

.mobile_social:nth-child(2):hover {
    fill: #3b5998;
}

.mobile_social:nth-child(3):hover {
    fill: #1DA1F2;
}

.mobile_social:nth-child(4):hover {
    fill: #0077B5;
}

.mobile_social:nth-child(5):hover {
    fill: #FF0000;
}



.home_content_section {
    width: 100%;
    min-height: 100vh;
    height: max-content;
}



.footer_section {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
}

.upper_footer,.lower_footer {
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer_logo {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_logo h3 {
    font-size: 17px;
    color: #0A1A61;
}

.footer_logo_img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}

.footer_logo_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.footer_social {
    fill: #828282;
    transition: 0.2s ease-in-out;
}


.footer_social:nth-child(1):hover {
    fill: #E1306C;
}

.footer_social:nth-child(2):hover {
    fill: #3b5998;
}

.footer_social:nth-child(3):hover {
    fill: #1DA1F2;
}

.footer_social:nth-child(4):hover {
    fill: #0077B5;
}

.footer_social:nth-child(5):hover {
    fill: #FF0000;
}

.footer_social svg {
    width: 21px;
    margin-left: 12px;
}


.copyright_section p {
    font-size: 14px;
    color: #414141;
}

.footer_links_section a{
    font-size: 15px;
    font-weight: 500;
    color: #414141;
    margin-left: 10px;
}

.footer_links_section a:hover {
    color: #406CEE;
}








@media only screen and (max-width: 610px) {
   
    .navigation_section {
        height: 60px;
    }

   
    .nav_logo_img {
        width: 35px;
        height: 35px;
    }

    .nav_logo h3 {
        font-size: 17px;
    }

   
    .login_action,.free_action {
        height: 35px;
        font-size: 15px;
    }
}


@media only screen and (max-width: 550px) {
   
    .navigation_section {
        height: 55px;
    }

   
    .login_action,.free_action {
        display: none;
    }

    .responsive_nav_trigger {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 6px;
    }

    .responsive_nav_trigger svg {
        width: 16px;
    }

   
    .mobile_navigation_action {
        top: 65px;
    }

    .mobile_navigation_action_show {
        display: flex;
    }
}


@media only screen and (max-width: 525px) {
   
    .footer_section {
        height: 200px;
    }

    .upper_footer {
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0;
        padding-left: 20px;
    }

    .footer_social svg {
        margin-left: 0px;
        margin-right: 10px;
    }

    .footer_links_section {
        margin-bottom: 15px;
    }

    .footer_links_section a {
        margin-left: 0px;
        margin-right: 10px;
    }

    .footer_logo {
        height: max-content;
    }

    .lower_footer {
        height: 40%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        padding-left: 20px;
    }
}


@media only screen and (max-width: 365px) {
   
   
    .footer_logo_img {
        width: 28px;
        height: 28px;
    }

    .footer_logo h3 {
        font-size: 15px;
    }

    .footer_social svg {
        width: 18px;
    }

   
    .footer_links_section a {
        font-size: 13.5px;
    }

    .copyright_section p {
        font-size: 13.5px;
    }
}


@media only screen and (max-width: 325px) {
   
    .navigation_section {
        height: 50px;
    }

   
    .nav_logo_img {
        width: 28px;
        height: 28px;
    }

    .nav_logo h3 {
        display: none;
    }

   
    .mobile_navigation_action {
        top: 60px;
    }

    .welcome_back_mobile,.for_free_mobile {
        font-size: 14px;
    }

    .welcome_back_mobile svg, .for_free_mobile svg {
        width: 18px;
    }

   
    .mobile_social {
        margin: 13px;
    }

}