.lower-section {
    min-height: 100vh;
    height: max-content !important;
    font-family: 'Roboto', sans-serif;
    padding-left: 70px;
    padding-right: 70px;
}

.safe_name_stats-safe_menu {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.safe_name_stats {
    width: 100%;
    height: 60%;
}

.safe_name_stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.safe_name_and_privacy,.stats_watchers_and_stars {
    height: 100%;
    width: 50%;
}

.safe_name_and_privacy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #414141;
}

.safe_name_and_privacy div{
    margin-left: 10px;
}

.safe_owner_profile_image {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.safe_owner_profile_image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.safe_name_and_privacy a{
    color: #414141;
    transition: 0.2s ease-in-out;
}

.safe_name_and_privacy a:hover {
    color: #406CEE;
}

.safe_name_link_span {
    font-weight: 600;
}

.safe_name_and_privacy svg{
    width: 28px;
    height: 28px;
    fill: #414141;
}

.safe_private_icon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #414141;
}

.safe_private_icon svg {
    fill: #f3f3f3;
    width: 15px;
    height: 15px;
}

.stats_watchers_and_stars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stats_watcher_or_star {
    width: max-content;
    height: 35px;
    border: 2px solid #414141;
    fill: #414141;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.stats_watcher_or_star span {
    margin: 5px;
    font-size: 15px;
}

.stats_watcher_or_star:hover {
    border: 2px solid #406CEE;
    fill: #406CEE;
}

.stats_watcher_or_star:hover > .stats_watcher_or_star_span {
    color: #406CEE;
}

.stats_watcher_or_star:nth-child(1){
    margin-right: 10px;
}

.stats_numbers {
    width: max-content;
    height: 27px;
    min-width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    color: #f3f3f3;
    font-size: 13px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.stats_numbers span {
    margin: 6px;
}

.stats_watcher_or_star:hover > .stats_numbers {
    background-color: #406CEE;
}

.stats_watcher_or_star svg {
    width: 19px;
    height: 19px;
    margin: 5px;
}

.safe_menu {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #acacac;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.safe_menu_member {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;
    border-radius: 5px;
    padding: 10px;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in-out;
}

.safe_menu_member:hover {
    background-color: #f3f3f3;
}

.safe_menu_member svg {
    width: 18px;
    margin-right: 5px;
}

.safe_menu_member span {
    font-size: 14px;
}