*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Inherited nevigation section */
.inherited-main-navigation-container{
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; /* flex for navigation improve */
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    background-color: rgba(65, 65, 65,0.4)
}

/* Profile navigation section */
.profile-click-navigation {
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; /* flex for navigation improve */
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    background-color: rgba(65, 65, 65,0.4)
}

.inherited-main-navigation {
    width: 300px;
    height: calc(100% - 10px);
    border-radius: 10px;
    background-color: white;
}

/* Navigation top section */
.inherited-main-navigation-top {
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The navigation logo */
.logo-in-nav{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    object-fit: cover;
}

.logo-in-nav img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.codepinion-user {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 500;
}

/* Cancel navigation */
.cancel-in-nav {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #414141;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.cancel-in-nav:hover {
    background-color: #F3F3F3;
    fill: #406CEE;
}

.cancel-in-nav svg {
    width: 22px;
}

/* The navigation items */
.inherited-main-navigation-items {
    width: 100%;
    height: fit-content;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navigation item */
.inherited-main-navigation-item {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    fill: #414141;
    color: #414141;
    transition: 0.2s ease-in;
}

.inherited-main-navigation-item:hover {
    background-color: #F3F3F3;
    fill: #406CEE;
    color: #406CEE;
}

.inherited-main-navigation-item-out:hover {
    background-color: #F3F3F3;
    fill: #C53B3B;
    color: #C53B3B;
}

.inherited-main-navigation-item svg {
    width: 20px;
    margin-right: 10px;
}

/* Nav seperator */
.inherited-main-navigation-seperator-section {
    width: 100%;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inherited-main-navigation-seperator {
    width: 100%;
    height: 1.5px;
    background-color: #e8e8e8;
}


/* The main div */
.main-body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}


/* The upper section where the navigation is  */
.upper-section {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The navigation */
.upper-nav {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F3F3F3;
}

/* The logo section */
.logo-section {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* The navigation button */
.open-navigation-btn {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #414141;
    transition: 0.2s ease-in;
    border: 1px solid #ACACAC;
}

.open-navigation-btn:hover {
    background-color: #F3F3F3;
    fill: #406CEE;
    border: 1px solid #406CEE;
}

.open-navigation-btn svg {
    width: 18px;
}


/* The logo */
.logo-image {
    width: 50px;
    border-radius: 10px;
}

/* The user section */
.user-section {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 20px;
}


/* The theme button  */

.theme-btn,.notif-btn {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-btn svg, .notif-btn svg {
    width: 17px;
    fill: #ACACAC;
}

/* The logged in user image section */

#logged-user-image {
    width: 55px;
    height: 55px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#logged-user-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/* Show this if image is not there */
.profile_pic_absent {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #414141;
    color: #F3F3F3;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in;
}

/* Hover */
#logged-user-image:hover > .profile_pic_absent {
    background-color: #406CEE;
}

/* The lower section */

.lower-section {
    width: 100%;
    height: 100vh;
}


/* RESPONSIVE WEBSITE USING BOTH WIDTH */

/* WITH WIDTH */

/* Width max=1370  */
@media only screen and (max-width: 1370px) {
    
    /* THE MAIN NAVIGATION */

    .upper-section {
        height: 80px;
    }

    .upper-nav {
        border-radius: 7px;
    }
    
    /* The toggle button */
    .open-navigation-btn {
        width: 30px;
        height: 30px;
    }

    .open-navigation-btn svg {
        width: 15px;
    }

    /* The logo */
    .logo-image {
        width: 40px;
        border-radius: 7px;
    }

    /* The user image */
    #logged-user-image {
        width: 45px;
        height: 45px;
    }

    /* The navigation items */
    /* Navigation item */
    .inherited-main-navigation-item {
        height: 40px;
        border-radius: 7px;
        font-size: 14px;
    }


    .inherited-main-navigation-item svg {
        width: 16px;
    }

}

/* Width max= 920px */
@media only screen and (max-width: 920px) {
    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 46px;
        border-radius: 5px;
        font-size: 18px;
    }

    .inherited-main-navigation-item svg {
        width: 21px;
    }
}

/* Width max=550px */
@media only screen and (max-width: 550px) {
    
    /* THE MAIN NAVIGATION */

    /* The logo and toggle button container */
    .logo-section {
        padding-left: 10px;
    }

    .upper-nav {
        border-radius: 5px;
    }

    /* THE TOGGLE BUTTON */
    
    /* The toggle button */
    .open-navigation-btn {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }

    .open-navigation-btn svg {
        width: 13px;
    }

    /* The logo */
    .logo-image {
        width: 35px;
        border-radius: 5px;
    }

    /* USER SECTION */

    /* The user contain section */
    .user-section {
        padding-right: 10px;
    }

    .theme-btn,.notif-btn {
        margin: 0;
    }

    #logged-user-image {
        width: 40px;
        height: 40px;
    }

    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 38px;
        border-radius: 5px;
        font-size: 14px;
    }

    .inherited-main-navigation-item svg {
        width: 18px;
    }
}

/* Width max= 400 */
@media only screen and (max-width: 500px) {
    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 42px;
        border-radius: 5px;
        font-size: 17px;
    }

    .inherited-main-navigation-item svg {
        width: 20px;
    }
}

/* Width max= 400 */
@media only screen and (max-width: 420px) {
    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 41px;
        border-radius: 5px;
        font-size: 15px;
    }

    .inherited-main-navigation-item svg {
        width: 19px;
    }
}

/* Width max=370px */
@media only screen and (max-width: 370px) {

    /* THE TOGGLE BUTTON */
    
    /* The toggle button */
    .open-navigation-btn {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .open-navigation-btn svg {
        width: 10px;
    }

    /* The light mode and notification */
    .theme-btn, .notif-btn {
        width: 35px;
        height: 35px;
    }

    .theme-btn svg, .notif-btn svg {
        width: 14px;
        fill: #ACACAC;
    }

    /* The logo */
    .logo-image {
        width: 30px;
        border-radius: 6px;
    }

    /* USER SECTION */
    #logged-user-image {
        width: 35px;
        height: 35px;
    }

    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 37px;
        border-radius: 3px;
        font-size: 14px;
    }

    .inherited-main-navigation-item svg {
        width: 18px;
    }
}

/* Width max=300px */
@media only screen and (max-width: 300px) {
    
    /* The logo */
    .logo-image {
        width: 30px;
        border-radius: 5px;
    }

    /* USER SECTION */
    #logged-user-image {
        width: 30px;
        height: 30px;
    }

    /* NAVIGATION */
    .inherited-main-navigation {
        width: calc(100% - 5px);
    }

    /* NAVIGATION ITEMS */
    .inherited-main-navigation-item {
        height: 32px;
        border-radius: 3px;
        font-size: 13px;
    }
}

